<div class="meeting-item col-lg-12" [class.closed]="!meeting.isOpen">
  <!--<span class="card-title">Vous avez choisi {{ coach.display_name }} pour être votre coach.</span>-->

  <div class="row" *ifLoader="loading">

    <!-- COACH -->
    <div class="meeting-item-header col-md-12 col-lg-5">
      <div>
        <div class="meeting-item-coach has-coach" *ngIf="meeting.coach"
             (click)="goToCoachProfile(meeting.coach.id)">
          <div>
            <!-- image coach-->
            <!--<img class="meeting-item-coach-avatar circle img-responsive" alt="coach"-->
                 <!--[src]="meeting.coach.avatar_url">-->
            <div class="meeting-item-coach-avatar avatar"
                 [style.background-image]="'url(' + meeting.coach.avatar_url + ')'"></div>
          </div>

          <div>
            <p class="meeting-item-coach-name black-text bold">{{ meeting.coach.first_name}} {{
              meeting.coach.last_name}}</p>
          </div>
        </div>

        <div class="meeting-item-coach" *ngIf="!meeting.coach">
          <div>
            <!-- image coach-->
            <img class="meeting-item-coach-avatar circle img-responsive" alt="coach"
                 src="https://s-media-cache-ak0.pinimg.com/originals/af/25/49/af25490494d3338afef00869c59fdd37.png">
          </div>

          <div *ngIf="(potentialDates | async) != null">
            <span class="meeting-item-coach-name">Un coach vous sera bientôt attribué</span>
          </div>

          <div *ngIf="(potentialDates | async) == null">
            <span class="meeting-item-coach-name red-text">Veuillez ajouter des disponibilités</span>
          </div>
        </div>

        <!-- DATE -->
        <div class="meeting-item-date">
          <div *ngIf="meeting.agreed_date">
            <span class="meeting-item-date-date">{{ getDate(meeting.agreed_date.start_date) }}</span>
            <span class="meeting-item-date-hour">{{ printTimeString(meeting.agreed_date.start_date) }}</span>
          </div>

          <div *ngIf="!meeting.agreed_date">
            <span>En attente...</span>
          </div>

          <!--<button *ngIf="!meeting.agreed_date" class="btn-basic btn-blue btn-small" (click)="goToModifyDate(meeting.id)">-->
          <!--Modifier-->
          <!--</button>-->
        </div>
      </div>
    </div>

    <!-- GOAL & REVIEW -->
    <div class="meeting-item-body col-md-12 col-lg-7">
      <div class="meeting-item-body-content">
        <p>
          <span class="black-text bold">Contexte de la séance</span><br>
          <span *ngIf="hasContext">{{context | async}}</span>
          <span *ngIf="!hasContext" class="red-text">Veuillez définir votre context.</span>
        </p>

        <br>

        <p>
          <span class="black-text bold">Objectif de la séance</span><br>
          <span *ngIf="hasGoal">{{goal | async}}</span>
          <span *ngIf="!hasGoal" class="red-text">Veuillez définir votre objectif.</span>
        </p>

        <div *ngIf="!meeting.isOpen" class="meeting-review">
          <div *ngIf="hasSessionResult && hasSessionUtility">
            <br>
            <p><span class="black-text bold">Avec quoi êtes vous reparti ? </span><br>{{ sessionResult }}</p>
            <br>
            <p><span class="black-text bold">En quoi la séance a-t-elle été utile ? </span><br>{{ sessionUtility }}</p>
          </div>
        </div><!--end meeting-review-->
      </div>

      <div class="meeting-item-body-buttons" *ngIf="meeting.isOpen">
        <button class="btn-basic btn-plain btn-blue btn-small" *ngIf="!meeting.agreed_date"
                (click)="goToModifyDate(meeting.id)">
          MODIFIER
        </button>
        <button class="btn-basic btn-plain btn-blue btn-small" *ngIf="hasGoal && meeting.agreed_date"
                (click)="goToChatRoom()">
          LANCER
        </button>
        <button class="btn-basic btn-cancel" (click)="openModal()"><i class="material-icons">clear</i></button>
      </div>
      <div class="meeting-item-body-buttons" *ngIf="!meeting.isOpen && !hasRate">
        <button class="btn-basic btn-plain btn-blue btn-small" (click)="rateSession()">NOTER</button>
      </div>
    </div><!--end meeting-item-body-->

  </div><!--end row-->

</div><!--end meeting-item-->
