<header id="header" class="page-topbar" [class.user-connected]="(isAuthenticated | async)">
  <div class="navbar" [class.navbar-fixed]="(isAuthenticated | async)" [class.z-depth-2]="!(isAuthenticated | async)">
    <nav>
      <div class="navbar-color" [class.z-depth-2]="(isAuthenticated | async)">
        <div class="col s12">
          <a (click)="goToMeetings()" class="logo-text"><img src="assets/img/logo-eritis-new.png" alt="Eritis"></a>
          <a data-activates="side-nav" class="button-collapse right" [hidden]="!(isAuthenticated | async)">
            <i class="mdi-navigation-menu"></i>
          </a>

          <ul class="right hide-on-med-and-down">
            <!--<li *ngIf="canDisplayListOfCoach()"><a (click)="goToCoachs()">Liste Des Coachs</a></li>-->

            <li *ngIf="(isAuthenticated | async) && isUserACoach()"><a (click)="goToAvailableSessions()">Séances
              disponibles</a></li>

            <li *ngIf="(isAuthenticated | async) && (isUserACoach() || isUserACoachee())"><a (click)="goToMeetings()">Vos
              séances</a></li>

            <li *ngIf="(isAuthenticated | async) && isUserARh()"><a (click)="goToMeetings()">Vos collaborateurs</a></li>

            <li *ngIf="(isAuthenticated | async)"><a (click)="goToProfile()">Profil</a></li>

            <li [hidden]="!(isAuthenticated | async) || !isUserACoachee()">
              <a class="dropdown-button" data-activates="notifs"><i class="material-icons">notifications</i></a>
              <div class="notif-count" *ngIf="(notifications | async) != null || (notifications | async)?.length > 0">
                {{(notifications | async).length}}
              </div>
            </li>

            <li *ngIf="(isAuthenticated | async)"><a (click)="onLogout()">Déconnexion</a></li>

            <!--<li *ngIf="!(isAuthenticated | async)"><a [routerLink]="['/']">Connexion</a></li>-->
          </ul>

          <ul class="side-nav" id="side-nav">
            <!--<li *ngIf="canDisplayListOfCoach()"><a (click)="goToCoachs()">Liste Des Coachs</a></li>-->

            <!--<li *ngIf="(isAuthenticated | async)"><a (click)="goToMeetings()">Vos meetings</a></li>-->

            <li *ngIf="(isAuthenticated | async) && isUserACoach()"><a (click)="goToAvailableSessions()">Séances
              disponibles</a></li>

            <li *ngIf="(isAuthenticated | async) && (isUserACoach() || isUserACoachee())"><a (click)="goToMeetings()">Vos
              séances</a></li>

            <li *ngIf="(isAuthenticated | async) && isUserARh()"><a (click)="goToMeetings()">Vos collaborateurs</a></li>

            <li *ngIf="(isAuthenticated | async)"><a (click)="goToProfile()">Profil</a></li>

            <!--<li [hidden]="!(isAuthenticated | async)">-->
            <!--<a class="dropdown-button" data-activates="notifs"><i class="material-icons">notifications</i></a>-->
            <!--<div class="notif-count">0</div>-->
            <!--</li>-->

            <li *ngIf="(isAuthenticated | async)"><a (click)="onLogout()">Déconnexion</a></li>

            <!--<li *ngIf="!(isAuthenticated | async)"><a [routerLink]="['/']">Connexion</a></li>-->
          </ul>
        </div>
      </div>
    </nav>


    <div class="welcome-header" *ngIf="!(isAuthenticated | async)">
      <div class="container">
        <h1 class="header-title">Atteignez vos objectifs</h1>
        <h3 class="header-subtitle">Séances de coaching individuel avec un coach certifié</h3>

        <div class="row">
          <div class="header-btn col-xs-12 col-sm-6">
            <a pageScroll href="#coach_section" class="btn-basic right">En savoir plus</a>
          </div>
          <div class="header-btn col-xs-12 col-sm-6">
            <button class="btn-basic btn-plain btn-connexion left" (click)="activateLogin()"><i class="material-icons">perm_identity</i>
              Connexion
            </button>
          </div>
        </div>

        <rb-signin *ngIf="loginActivated"></rb-signin>

        <a pageScroll href="#presentation" class="header-arrow-bottom"><i class="fa fa-angle-down"
                                                                          aria-hidden="true"></i></a>
      </div>
    </div>


  </div><!--end navbar-fixed-->

  <ul id="notifs" class="dropdown-content notifs collection">
    <li class="notif-item collection-item" *ngIf="(notifications | async) == null">Vous n'avez pas de notification</li>
    <div *ngIf="(notifications | async) != null">
      <li class="notif-item collection-item notif-delete"><a (click)="readAllNotifications()">Marquer comme lues</a></li>
      <li class="notif-item collection-item" *ngFor="let notif of (notifications | async)">
        <p class="notif-date">{{printDateString(notif.date)}}</p>
        <p class="notif-messsage">{{notif.message}}</p>
      </li>
    </div>
  </ul>

  <div class="header-user" *ngIf="(isAuthenticated | async)">
    <div class="container">
      <img src="{{(user | async)?.avatar_url}}" alt="profile image" class="header-user-img circle responsive-img">
      <div class="header-user-info">
        <h5>{{(user | async)?.display_name}}</h5>
        <h6>{{(user | async)?.email}}</h6>
      </div>
    </div>
  </div>
</header>
