<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav>
      <div class="navbar-color z-depth-2">
        <div class="col s12">
          <a (click)="goToMeetings()" class="logo-text"><img src="assets/img/logo-eritis-new.png" alt="Eritis"></a>
          <a data-activates="side-nav" class="button-collapse right"><i
            class="mdi-navigation-menu"></i></a>

          <ul class="right hide-on-med-and-down">
            <!--<li *ngIf="canDisplayListOfCoach()"><a (click)="goToCoachs()">Liste Des Coachs</a></li>-->

            <li *ngIf="(isAuthenticated | async) && isUserACoach()"><a (click)="goToAvailableSessions()">Séances disponibles</a></li>

            <li *ngIf="(isAuthenticated | async) && isUserACoach()"><a (click)="goToMeetings()">Vos séances</a></li>

            <li *ngIf="(isAuthenticated | async)"><a (click)="goToProfile()">Profil</a></li>

            <li><a><i class="material-icons">notifications</i></a></li>

            <li *ngIf="(isAuthenticated | async)"><a (click)="onLogout()">Déconnexion</a></li>

            <li *ngIf="!(isAuthenticated | async)"><a [routerLink]="['/']">Connexion</a></li>
          </ul>

          <ul class="side-nav" id="side-nav">
            <!--<li *ngIf="canDisplayListOfCoach()"><a (click)="goToCoachs()">Liste Des Coachs</a></li>-->

            <!--<li *ngIf="(isAuthenticated | async)"><a (click)="goToMeetings()">Vos meetings</a></li>-->

            <li *ngIf="(isAuthenticated | async) && isUserACoach()"><a (click)="goToAvailableSessions()">Séances disponibles</a></li>

            <li *ngIf="(isAuthenticated | async) && isUserACoach()"><a (click)="goToMeetings()">Vos séances</a></li>


            <li *ngIf="(isAuthenticated | async)"><a (click)="goToProfile()">Profil</a></li>

            <li><a><i class="material-icons">notifications</i></a></li>

            <li *ngIf="(isAuthenticated | async)"><a (click)="onLogout()">Déconnexion</a></li>

            <li *ngIf="!(isAuthenticated | async)"><a [routerLink]="['/']">Connexion</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div><!--end navbar-fixed-->

  <div class="header-user">
    <div class="container">
      <img src="{{(user | async)?.avatar_url}}" alt="profile image" class="header-user-img circle responsive-img">
      <div class="header-user-info">
        <h5>{{(user | async)?.display_name}}</h5>
        <h6>{{(user | async)?.email}}</h6>
      </div>
    </div>
  </div>
</header>
