nav{
  background-color: transparent;
  background-attachment: scroll;
  background-position: top;
  background-size: cover;
  min-height: 96px;
  box-shadow: none;
}

.user-connected nav {
  background-image: url("../../assets/img/eritis-mountain-bg-2.jpg");
}

nav li{
  background-color: transparent;
}

nav li a{
  cursor: pointer;
}

nav li a:hover,
nav li a:focus {
  color: var(--main-dark-grey) !important;
}

.navbar-fixed,
.navbar{
  min-height: 96px;
  padding: 0;
}

.navbar-color {
  background-color: var(--main-blue-filter);
  /*background-color: var(--main-dark-blue);*/
  height: 100%;
  padding: 16px;
}

.logo-text img{
  height: 50px;
}

header{
  background-image: url("../../assets/img/eritis-mountain-bg-2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

header.user-connected {
  background-attachment: scroll;
}

.header-user{
  background-color: var(--main-blue-filter);
  color: var(--main-white-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.header-user-filter{

}

.header-user .container{
  display: flex;
  align-items: center;
  align-content: center;
  padding: 64px 0;
}

.header-user-info{
  margin-left: 16px;
}

.header-user-img{
  height: 100px;
}

.notifs {
  width: 250px !important;
  padding: 0;
}

.notif-item {
  padding: 16px;
}

.notif-item:hover {
  background-color: var(--main-ultra-light-grey);
}

.notif-count {
  background-color: var(--main-electric-blue);
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-radius: 100%;
  position: relative;
  top: -55px;
  right: -28px;
}

.welcome-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--main-white-color);
  padding: 160px 0;
  background-color: var(--main-blue-filter);
}

.header-title{
  /*font-size: 66px*/
  font-size: 8vmin; /*Test taille adaptative relative à la taille minimale de l'écran*/
  font-weight: 500;
  letter-spacing: 1.1px;
  margin: 0;
}

.header-subtitle{
  /*font-size: 36px;*/
  font-size: 4vmin;
  font-weight: 300;
  letter-spacing: 2.3px;
  margin: 64px 0;
  opacity: 0.6;
}

.header-btn .btn-basic{
  min-width: 200px;
}

.header-arrow-bottom{
  font-size: 66px;
  color: var(--main-white-color);
  opacity: 0.6;
}

.header-arrow-bottom:hover{
  opacity: 1;
}

rb-signin{
  width: 30%;
}

@media(max-width: 960px){
  rb-signin{
    width: 80%;
  }
}
