<div class="header-user">
  <div class="header-user-filter">
    <div class="container row">

      <div class="user col-lg-5">
        <img src="{{(coach | async)?.avatar_url}}" alt="profile image" class="user-img circle responsive-img z-depth-2">
        <div class="user-info">
          <h5>{{(coach | async)?.display_name}}</h5>
          <h6>{{(coach | async)?.email}}</h6>
        </div>
      </div>

      <div class="col-sm-12 hide-on-large-only gap"></div>

      <div class="header-stats col-lg-7">
        <div class="header-item">
          <h4 class="header-item-number">10<span>mois</span></h4>
          <p class="header-item-title">Expérience</p>
        </div>

        <div class="header-item">
          <h4 class="header-item-number">6</h4>
          <p class="header-item-title">Séances réalisées</p>
        </div>

        <div class="header-item">
          <h4 class="header-item-number">3</h4>
          <p class="header-item-title">Personnes coachées</p>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <h4 class="text-right italic">"{{ (coach | async)?.description }}"</h4>
  <br>
  <div>
    <h5 class="black-text">Envoyer un message à {{(coach | async)?.display_name}}</h5>

    <form>
      <div class="input-field">
        <textarea name="message" id="message" class="message-field"></textarea>
      </div>
      <div class="input-field">
        <button class="btn-basic btn-plain btn-blue right">Envoyer</button>
      </div>
    </form>
  </div>
</div>


<!--<div id="profile-page" class="container">-->
  <!--&lt;!&ndash; profile-page-header &ndash;&gt;-->
  <!--<div id="profile-page-header" class="card">-->
    <!--<div class="card-image waves-effect waves-block waves-light">-->
      <!--<img class="activator" src="images/user-profile-bg.jpg" alt="user background">-->
    <!--</div>-->
    <!--<figure class="card-profile-image">-->
      <!--<img src="{{ coach.avatar_url}}" alt="profile image"-->
           <!--class="circle z-depth-2 responsive-img activator">-->
    <!--</figure>-->
    <!--<div class="card-content">-->
      <!--<div class="row">-->
        <!--<div class="col s3 offset-s2">-->
          <!--<h4 class="card-title grey-text text-darken-4">{{ coach.display_name }}</h4>-->
          <!--<p class="medium-small grey-text">Coach</p>-->
        <!--</div>-->
        <!--<div class="col s2 center-align">-->
          <!--<h4 class="card-title grey-text text-darken-4">10+</h4>-->
          <!--<p class="medium-small grey-text">Work Experience</p>-->
        <!--</div>-->
        <!--<div class="col s2 center-align">-->
          <!--<h4 class="card-title grey-text text-darken-4">6</h4>-->
          <!--<p class="medium-small grey-text">Completed Sessions</p>-->
        <!--</div>-->
        <!--<div class="col s2 center-align">-->
          <!--<h4 class="card-title grey-text text-darken-4">$ 1,253,000</h4>-->
          <!--<p class="medium-small grey-text">Business Profit</p>-->
        <!--</div>-->
        <!--<div class="col s1 right-align">-->
          <!--<a class="btn-floating activator waves-effect waves-light darken-2 right">-->
            <!--<i class="mdi-action-perm-identity"></i>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card-reveal">-->
      <!--<p>-->
            <!--<span class="card-title grey-text text-darken-4">{{ coach.display_name }} <i-->
              <!--class="mdi-navigation-close right"></i></span>-->
        <!--<span><i class="mdi-action-perm-identity cyan-text text-darken-2"></i>Coach</span>-->
      <!--</p>-->

      <!--<p>Coach description</p>-->

      <!--<p><i class="mdi-action-perm-phone-msg cyan-text text-darken-2"></i> +1 (612) 222 8989</p>-->
      <!--<p><i class="mdi-communication-email cyan-text text-darken-2"></i> {{ coach.email }}</p>-->
      <!--<p><i class="mdi-social-cake cyan-text text-darken-2"></i> Start Date : {{ coach.start_date }}</p>-->
      <!--<p><i class="mdi-device-airplanemode-on cyan-text text-darken-2"></i> BAR - AUS</p>-->
      <!--<p><i class="mdi-social-cake cyan-text text-darken-2"></i> eritis id : {{ coach.id }}</p>-->

    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash;/ profile-page-header &ndash;&gt;-->

  <!--&lt;!&ndash; profile-page-content &ndash;&gt;-->
  <!--<div id="profile-page-content" class="row">-->
    <!--&lt;!&ndash; profile-page-sidebar&ndash;&gt;-->
    <!--<div id="profile-page-sidebar" class="col s12 m4">-->
      <!--&lt;!&ndash; Profile About  &ndash;&gt;-->
      <!--<div class="card light-blue">-->
        <!--<div class="card-content white-text">-->
          <!--<span class="card-title">About Me!</span>-->
          <!--<p>Coach description</p>-->

        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Profile About  &ndash;&gt;-->

      <!--&lt;!&ndash; Profile About Details  &ndash;&gt;-->
      <!--<ul id="profile-page-about-details" class="collection z-depth-1">-->
        <!--<li class="collection-item">-->
          <!--<div class="row">-->
            <!--<div class="col s5 grey-text darken-1"><i class="mdi-action-wallet-travel"></i> Project</div>-->
            <!--<div class="col s7 grey-text text-darken-4 right-align">ABC Name</div>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="collection-item">-->
          <!--<div class="row">-->
            <!--<div class="col s5 grey-text darken-1"><i class="mdi-social-poll"></i> Skills</div>-->
            <!--<div class="col s7 grey-text text-darken-4 right-align">HTML, CSS</div>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="collection-item">-->
          <!--<div class="row">-->
            <!--<div class="col s5 grey-text darken-1"><i class="mdi-social-domain"></i> Lives in</div>-->
            <!--<div class="col s7 grey-text text-darken-4 right-align">NY, USA</div>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="collection-item">-->
          <!--<div class="row">-->
            <!--<div class="col s5 grey-text darken-1"><i class="mdi-social-cake"></i> Birth date</div>-->
            <!--<div class="col s7 grey-text text-darken-4 right-align">18th June, 1991</div>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
      <!--&lt;!&ndash;/ Profile About Details  &ndash;&gt;-->

      <!--&lt;!&ndash; Profile About  &ndash;&gt;-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->




