<div class="container">
  <div id="code-deontologie">
    <h1 class="black-text text-center">Code de déontologie Eritis</h1>
    <div class="text-center"><span class="italic">(Version mise à jour en juin 2017)</span></div>

    <br><br>
    <p>Ce code est établi par la Société Eritis exclusivement pour la pratique du coaching professionnel sur la plate forme Eritis,
      et est une adaptation du code de déontologie de la Société Française de Coaching. Il est opposable à tout coach intervenant
      sur la plateforme Eritis. Il vise à formuler des points de repère déontologiques, compte tenu des spécificités du e-coaching
      en tant que processus d'accompagnement d'une personne dans sa vie professionnelle.
      <br>Ce  code  de  déontologie  est  donc l'expression  d'une  réflexion  éthique;  il  s'agit  de  principes généraux. Leur application pratique requiert une capacité de discernement.
    </p>

    <br><br>
    <h4 class="black-text">Devoirs du coach</h4>
    <p><span class="black-text bold">Art. 1-1 - Exercice du Coaching</span>
      <br>
      Le coach s'autorise en conscience à exercer cette fonction
      à partir de sa formation, de son experience, de sa supervision et de son développement personnel.
    </p>
    <p><span class="black-text bold">Art. 1-2 - Confidentialité</span>
      <br>
      Le coach s'astreint au secret professionnel.
    </p>
    <p><span class="black-text bold">Art. 1-3 - Supervision établie</span>
      <br>
      L'exercice professionnel du coaching nécessite une supervision.
      Les coachs accrédités de la Société Eritis sont tenus de disposer d'un lieu de supervision.
    </p>
    <p><span class="black-text bold">Art. 1-4 - Respect des personnes</span>
      <br>
      Conscient de sa position, le coach s'interdit d'exercer tout abus d'influence.
    </p>
    <p><span class="black-text bold">Art. 1-5 - Obligation de moyens</span>
      <br>
      Le coach prend tous les moyens propres à permettre, dans le cadre de la demande du client,
      le développement professionnel et personnel du coaché, y compris en ayant recours, si besoin est, à un confrère.
    </p>
    <p><span class="black-text bold">Art. 1-6 - Refus  de prise en charge</span>
      <br>
      Le coach accepte librement toute proposition de séances,
      et peut refuser toute séance pour des raisons propres à l'organisation, au demandeur ou à lui-même.
    </p>

    <br><br>
    <h4 class="black-text">Devoirs du coach vis à vis du coaché</h4>
    <p><span class="black-text bold">Art. 2-1 - Lieu du Coaching</span>
      <br>
      Les séances de coaching se passe en visio-conférence, ou en audio si la qualité de la
      vision ne le permet pas. Le coach se doit d'être attentif à la signification et aux effets du lieu dans lequel il réalise la séance de e-coaching.
    </p>
    <p><span class="black-text bold">Art. 2-2 - Responsabilité des décisions</span>
      <br>
      Le coaching est une technique de développement professionnel et personnel.
      Le coach laisse de ce fait toute la responsabilité de ses décisions au coaché.
    </p>
    <p><span class="black-text bold">Art. 2-3 - Demande formulée</span>
      <br>
      La demande de coaching est formulée par le coaché, et une demande peut etre formulée par l’entreprise sous la forme d’un ou
      plusieurs objectifs de développement. Le coach valide la demande du coaché, et inscrit le travail dans le cadre de l’objectif formulé par l’entreprise.
    </p>
    <p><span class="black-text bold">Art. 2-4 - Protection de la personne</span>
      <br>
      Le coach adapte son intervention dans le respect des étapes de développement du coaché.
    </p>

    <br><br>
    <h4 class="black-text">Devoirs du coach vis à vis de l'organisation</h4>
    <p><span class="black-text bold">Art. 3-1 - Protection des organisations</span>
      <br>
      Le coach est attentif au métier, aux usages, à la culture,
      au contexte et aux contraintes de l'organisation pour laquelle il travaille.
    </p>
    <p><span class="black-text bold">Art. 3-2 - Restitution au donneur d'ordre</span>
      <br>
      Le coach ne peut rendre compte pas de son action au donneur d'ordre.
      Le coach et le coaché élabore à l’issue de chaque séance un compte rendu de session qui reste la propriété du coaché.
      Une analyse qualitative anonymée des problématiques émergentes est réalisée par Eritis tous les 3 mois et restituée au donneur d’ordre,
      à partir où plus de 10 coachés ont réalisés des séances.
    </p>
    <p><span class="black-text bold">Art. 3-3 - Equilibre de l'ensemble du système</span>
      <br>
      Le coaching s'exerce dans la synthèse des intérêts du coaché et de son organisation.
    </p>

    <br><br>
    <h4 class="black-text">Recours</h4>
    <p><span class="black-text bold">Art. 4-1 - Recours auprès d’Eritis</span>
      <br>
      Toute organisation ou personne peut recourir volontairement auprès d’Eritis en cas de manquement
      aux règles professionnelles élémentaires inscrites dans ce code ou de conflit avec un coach accrédité d’Eritis.
    </p>

    <br><br>
    <div class="text-center">
      <button class="btn-basic btn-plain btn-small btn-blue" (click)="goToCoachRegister()">Retour</button>
    </div>

  </div>
</div>
