<div class="meeting-item col-lg-12" [class.closed]="!meeting.isOpen">
  <!--<span class="card-title">Vous avez choisi {{ coach.display_name }} pour être votre coach.</span>-->

  <div class="preloader-wrapper active" *ngIf="loading">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!loading">

    <!-- COACH -->
    <div class="meeting-item-header col-sm-4 col-md-4 col-lg-3">
      <div>
        <div>
          <!-- image coach-->
          <img *ngIf="meeting.coach" class="meeting-item-coach-avatar circle img-responsive" alt="coach"
               [src]="meeting.coach.avatar_url">
          <img *ngIf="!meeting.coach" class="meeting-item-coach-avatar circle img-responsive" alt="coach"
               src="https://s-media-cache-ak0.pinimg.com/originals/af/25/49/af25490494d3338afef00869c59fdd37.png">
        </div>

        <div>
          <p class="meeting-item-coach" *ngIf="meeting.coach">{{ meeting.coach.display_name }}</p>
          <p class="meeting-item-coach" *ngIf="!meeting.coach">Un coach vous sera bientôt attribué</p>
        </div>
      </div>
    </div>

    <!-- DATE -->
    <div class="meeting-item-date col-sm-8 col-lg-3">
      <div *ngIf="meeting.agreed_date">
        <span class="meeting-item-date-date">{{ getDate(meeting.agreed_date.start_date) }}</span>
        <span class="meeting-item-date-hour">{{ printTimeString(meeting.agreed_date.start_date) }}</span>
      </div>

      <button *ngIf="!meeting.agreed_date" class="btn-basic btn-blue btn-small" (click)="goToModifyDate(meeting.id)">
        Modifier
      </button>
    </div>

    <!-- GOAL & REVIEW -->
    <div class="meeting-item-body col-md-12 col-lg-6">
      <div class="meeting-item-body-content">
        <p class="meeting-item-goal">
          <span class="black-text bold">Objectif: </span>
          <span *ngIf="hasGoal">{{ goal }}</span>
          <span *ngIf="!hasGoal" class="red-text">Veuillez définir votre objectif.</span>
        </p>

        <div *ngIf="!meeting.isOpen" class="meeting-review">
          <er-post-meeting *ngIf="!hasValue || !hasNextStep" [meeting]="meeting"></er-post-meeting>

          <div *ngIf="hasValue && hasNextStep">
            <br>
            <p><span class="black-text bold">En quoi la séance a-t-elle été utile ? </span>{{ reviewValue }}</p>
            <br>
            <p><span class="black-text bold">Avec quoi êtes vous reparti ? </span>{{ reviewNextStep }}</p>
          </div>
        </div><!--end meeting-review-->
      </div>

      <div class="meeting-item-buttons" *ngIf="meeting.isOpen">
        <button class="btn-basic btn-plain btn-red btn-small" *ngIf="!hasGoal" (click)="goToModifyDate(meeting.id)">
          OBJECTIF
        </button>
        <button class="btn-basic btn-plain btn-blue btn-small" *ngIf="hasGoal" (click)="null"
                [disabled]="!meeting.agreed_date">LANCER
        </button>
        <button class="btn-basic btn-cancel" (click)="openModal()"><i class="material-icons">clear</i></button>
      </div>
    </div><!--end meeting-item-body-->

  </div><!--end row-->

</div><!--end meeting-item-->


<!-- Modal Structure -->
<div id="deleteModal" class="modal">
  <div class="delete-modal-content">
    <div class="delete-modal-message">
      <h4>Ce meeting sera supprimé définitivement.</h4>
    </div>
    <div class="delete-modal-footer">
      <button class="btn-basic btn-blue" (click)="cancelCancelMeeting()">Annuler</button>
      <button class="btn-basic btn-plain btn-red" (click)="confirmCancelMeeting()">Supprimer</button>
    </div>
  </div>
</div>
