<div class="meeting-item col-lg-12 card">
  <!--<span class="card-title">Vous avez choisi {{ coach.display_name }} pour être votre coach.</span>-->

  <div [class.closed]="!meeting.isOpen" class="card-content">
    <div class="meeting-item-header">
      <div>
        <p class="meeting-item-seance-number black-text">Séance N</p>
        <p class="meeting-item-coach" *ngIf="meeting.coach">{{ meeting.coach.display_name }}</p>
        <p class="meeting-item-coach" *ngIf="!meeting.coach">Un coach vous sera bientôt attribué</p>
      </div>

      <div>
        <!-- image coach-->
        <img *ngIf="meeting.coach" class="meeting-item-coach-avatar circle img-responsive" alt="coach" [src]="meeting.coach.avatar_url">
      </div>
    </div>

    <div class="meeting-item-body" *ngIf="meeting.agreed_date ">
      <h4 class="meeting-item-date">{{meeting.agreed_date.start_date | date}}</h4>
      <p class="meeting-item-hour">{{meeting.agreed_date.start_date | date:'shortTime'}}</p>
    </div>

    <div class="meeting-item-body" *ngIf="!meeting.agreed_date">
      <button class="btn-basic" (click)="goToModifyDate(meeting.id)">Modifier</button>
    </div>

    <div class="meeting-item-footer">
      <div class="meeting-item-objectif">
        <p><span class="black-text bold">Objectif: </span></p>
      </div>

      <div class="meeting-item-footer-buttons">
        <a *ngIf="meeting.isOpen">ANNULER</a>
        <a *ngIf="!meeting.isOpen" class="activator">CONSULTER</a>

        <button class="btn-basic btn-plain btn-red btn-small" *ngIf="meeting.isOpen">OBJECTIF</button>

        <button class="btn-basic btn-plain btn-blue btn-small" *ngIf="meeting.isOpen" (click)="bookADate()">LANCER</button>
      </div>
    </div>

    <!-- check if you have some reviews-->
    <!--<div class="container" *ngIf="(hasSomeReviews | async)">-->
      <!--&lt;!&ndash; list of reviews &ndash;&gt;-->
      <!--<div *ngFor="let review of reviews | async">-->
        <!--<div class="card">-->
          <!--<div class="card-content">-->
            <!--<span class="card-title">Meeting Review</span>-->
            <!--<div class="list-group-item-text">at : {{review.date}}</div>-->
            <!--<div class="list-group-item-text">comment : {{review.comment}}</div>-->
            <!--<div class="list-group-item-text">score : {{review.score}}</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>&lt;!&ndash; end check&ndash;&gt;-->
  <!--</div>&lt;!&ndash;end meeting open&ndash;&gt;-->
  <!--&lt;!&ndash; add a pre meeting review &ndash;&gt;-->
  <!--<div class="container">-->
  <!--<rb-pre-meeting *ngIf="!(hasSomeReviews | async)" [meeting]="meeting"-->
  <!--(reviewPosted)="onPreMeetingReviewPosted($event)"-->
  <!--&gt;</rb-pre-meeting>-->
  </div><!--end card-content-->

  <div *ngIf="!meeting.isOpen" class="card-reveal meeting-review">

    <div class="meeting-item-header">
      <div>
        <p class="meeting-item-seance-number">Séance N</p>
        <p class="meeting-item-coach" *ngIf="meeting.coach">{{ meeting.coach.display_name }}</p>
        <p class="meeting-item-coach" *ngIf="!meeting.coach">Un coach vous sera bientôt attribué</p>
      </div>

      <div>
        <img *ngIf="meeting.coach" class="meeting-item-coach-avatar circle img-responsive" alt="coach" [src]="meeting.coach.avatar_url">
      </div>
    </div>

    <div class="meeting-review-body">
      <div class="btn-basic btn-plain btn-small btn-green">FEEDBACK</div>

      <p><span class="black-text bold">Objectif: </span></p>
      <br>
      <p><span class="black-text bold">En quoi la séance a-t-elle été utile? </span></p>
      <br>
      <p><span class="black-text bold">Avec quoi êtes vous reparti? </span></p>
    </div>

    <span class="meeting-review-close-button card-title"><i class="mdi-navigation-close"></i></span>
  </div>

</div><!--end item-->


