.btn-small{
  padding: 0 16px;
  font-size: 16px;
  min-width: 120px;
  height: 40px;
}

button{
  margin: 0;
}

a:hover,
a:focus{
  color: var(--main-electric-blue) !important;
}

.card-content, .card-reveal {
  padding: 0;
}

.meeting-item{
  margin: 16px 0;
  padding: 0 !important;
}

.meeting-item > .row {
  margin: 0;
}

.meeting-item-seance-number{
  margin: 0;
  color: #000;
  font-weight: 600;
}

.meeting-item-coach{
  margin-top: 2px;
  margin-bottom: 0;
}

.meeting-item-coach-avatar{
  height: 52px;
  margin-right: 16px;
}

.meeting-item-body{

}

.closed .meeting-item-body{
  background-color: var(--main-dark-blue);
}

.meeting-item-date{
  margin-top: 0;
  margin-bottom: 16px;
}

.meeting-item-hour{
  margin: 0;
  font-size: 22px;
}

.meeting-item-goal{
  margin: 0;
}

.meeting-item-footer,
.meeting-item-header,
.meeting-item-body{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  align-content: stretch;
}

.meeting-review-body{
  padding: 16px;
  padding-top: 0;
}

.meeting-review-body .btn-green{
  margin-bottom: 32px;
  margin-top: 0;
}

.meeting-review-close-button{
  position: absolute;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  margin: 0;
}
