<div class="row" [ngsReveal]="{origin: 'left', distance: '100px', scale: 1, delay: 200, duration: 1000}">
  <h3 class="col-lg-12 black-text">Nos coachees</h3>

  <div class="col-lg-12 card collection">
    <div *ifLoader="loading">
      <div class="collection-item" *ngFor="let coachee of coachees | async">
        <er-admin-coachee-item [coachee]="coachee"></er-admin-coachee-item>
      </div>

      <div class="text-center" [hidden]="(coachees | async)?.length > 0">
        <p class="no-meeting">Les coachees apparaîtront ici</p>
      </div>
    </div>

  </div>

</div> <!--end row-->
