<div class="row">
  <h4 class="col-lg-12 black-text">Liste des coachees</h4>

  <div class="col-lg-12 card collection">
    <div *ngIf="(coachees | async) != null">
      <div class="collection-item" *ngFor="let coachee of coachees | async">
        <rb-coachee-item [coachee]="coachee"></rb-coachee-item>
      </div>
    </div>

    <div class="text-center" *ngIf="(coachees | async) == null">
      <h5 class="no-meeting">Les coachees apparaîtront ici</h5>
    </div>
  </div>


  <!--<div class="col-lg-12" *ngFor="let coachee of coachees| async">-->
    <!--<div class="row coach_card">-->
      <!--<div class="col s12" style="padding: 16px">-->
        <!--<span>{{ coachee.firstName}} {{ coachee.lastName}}</span>-->
        <!--<img style="width: 30px;height: 30px" src="{{coachee.avatar_url}}" alt="">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div> <!--end row-->
