<div class="row" [ngsReveal]="{origin: 'left', distance: '100px', scale: 1, delay: 200, duration: 1000}">
  <h3 class="col-lg-12 black-text">Nos coachees</h3>

  <div class="col-lg-12 card collection">
    <div *ifLoader="loading">
      <div *ngIf="(coachees | async) != null && (coachees | async).length > 0">
        <div class="collection-item" *ngFor="let coachee of coachees | async">
          <rb-coachee-item [coachee]="coachee"></rb-coachee-item>
        </div>
      </div>

      <div class="text-center" *ngIf="(coachees | async) == null || (coachees | async).length < 1">
        <p class="no-meeting">Les coachees apparaîtront ici</p>
      </div>
    </div>

  </div>


  <!--<div class="col-lg-12" *ngFor="let coachee of coachees| async">-->
    <!--<div class="row coach_card">-->
      <!--<div class="col s12" style="padding: 16px">-->
        <!--<span>{{ coachee.first_name}} {{ coachee.last_name}}</span>-->
        <!--<img style="width: 30px;height: 30px" src="{{coachee.avatar_url}}" alt="">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div> <!--end row-->
