<div class="container" [ngsReveal]="{origin: 'left', distance: '100px', scale: 1, delay: 200, duration: 1000}">
  <div id="registerForm" [ngsRevealSet]="{distance:0, opacity:0}" [ngsSelector]="'.input-container, .section-form-title'">

    <h1 class="black-text text-center">Formulaire d'inscription</h1>

    <div class="form-save-buttons">
      <p>Les réponses que vous rentrez sont sauvegardées, vous pouvez donc revenir à ce formulaire ultérieurement.</p>
    </div>

    <form [formGroup]="registerForm" (change)="saveFormValues()">

      <div class="row">
        <h2 class="col-lg-12 section-form-title">Informations personnelles</h2>

        <div class="col-lg-6">

          <div class="row">
            <div class="col-lg-12 input-container">
              <label for="lastname">Votre nom</label>
              <span><i>Apparaîtra sur le site</i></span>
              <input type="text" id="lastname" name="lastname" formControlName="lastname" placeholder="Votre nom">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label for="firstname">Votre prénom</label>
              <span><i>Apparaîtra sur le site</i></span>
              <input type="text" id="firstname" name="firstname" formControlName="firstname" placeholder="Votre prénom">
            </div>

          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Votre adresse email</label>
              <input type="email" id="email" name="email" formControlName="email" placeholder="exemple@mail.com">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Votre téléphone portable</label>
              <input type="email" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber"
                     placeholder="06 ...">
            </div>
          </div>

        </div>

        <div class="col-lg-6 input-container">
          <label>Photo de profil</label>
          <span><i>Apparaîtra sur le site</i></span>

          <div class="avatar-container input-container">
            <div id="avatar-preview"
                 class="avatar z-depth-2"
                 [style.background-image]="'url(' + registerForm.value.avatar + ')'"
                 *ngIf="avatarUrl != null"></div>
            <div class="input-file-container">
              <button class="btn-basic btn-blue btn-plain btn-small file-upload-button">Choisir un fichier</button>
              <input type="file"
                     id="upload-avatar-input"
                     accept=".jpg,.png"
                     (change)="filePreview($event, 'avatar')">
            </div>
          </div>
        </div>

        <div class="col-lg-12">

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Décrivez-vous en quelques lignes</label>
              <span><i>Apparaîtra sur le site</i></span>
              <textarea id="description" name="description" formControlName="description"
                        placeholder="Description..."></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Lien vers votre profil Linkedin</label>
              <input type="url" id="linkedin_url" name="linkedin_url" formControlName="linkedin_url"
                     placeholder="https://...">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Langue(s) pratiquée(s) en coaching ?</label>
              <div class="row">
                <div class="col-lg-4">
                  <input type="text" id="lang1" name="lang1" placeholder="Langue 1" formControlName="lang1">
                </div>
                <div class="col-lg-4">
                  <input type="text" id="lang2" name="lang2" placeholder="Langue 2 (facultatif)"
                         formControlName="lang2">
                </div>
                <div class="col-lg-4">
                  <input type="text" id="lang3" name="lang3" placeholder="Langue 3 (facultatif)"
                         formControlName="lang3">
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- coach activity -->

        <h2 class="col-lg-12 section-form-title">Votre activité de coach</h2>

        <div class="col-lg-12">

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Quelques éléments de parcours professionnel?</label>
              <textarea type="text" id="career" name="career" formControlName="career"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Quelles activités exercez-vous autres que le coaching individuel ?</label>
              <textarea type="text" id="extraActivities" name="extraActivities"
                     formControlName="extraActivities"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Vos diplômes, certifications, référencements, accréditations dans le domaine du coaching ?</label>
              <textarea type="text" id="degree" name="degree"
                     placeholder="Diplômes, certifications, accréditations, ..."
                     formControlName="degree"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Depuis combien de temps exercez-vous une activité de coaching individuel, et combien d’heures
                avez-vous déjà réalisées ?</label>
              <textarea type="text" id="coachingExperience" name="coachingExperience" placeholder="3 ans, 8 mois, ..."
                     formControlName="coachingExperience"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Quelles sont vos expériences en coaching à distance, visio, skype ?</label>
              <textarea type="text" id="remoteCoachingExperience" name="remoteCoachingExperience"
                     placeholder="3 ans, 8 mois, ..."
                     formControlName="remoteCoachingExperience"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Quelles sont vos expériences en coaching bref sur 45 minutes ?</label>
              <textarea id="experienceShortSession" name="experienceShortSession" placeholder="Précisez..."
                        formControlName="experienceShortSession"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Des spécialités, des spécificités dans les situations de coaching que vous réalisez?</label>
              <textarea id="coachingSpecifics" name="coachingSpecifics" placeholder="Précisez..."
                        formControlName="coachingSpecifics"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Quel est votre dispositif de supervision ?</label>
              <textarea type="text" id="supervision" name="supervision" placeholder="Précisez..."
                     formControlName="supervision"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Quelques éléments de votre parcours de développement personnel/ thérapie ?</label>
              <textarea type="text" id="therapyElements" name="therapyElements" placeholder="Précisez..."
                     formControlName="therapyElements"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Quel est votre chiffre d'affaires sur les 3 dernières années ?</label>
              <div class="row">
                <div class="col-lg-4">
                  <input type="text" id="ca1" name="ca1" placeholder="2016" formControlName="ca1">
                </div>
                <div class="col-lg-4">
                  <input type="text" id="ca2" name="ca2" placeholder="2015" formControlName="ca2">
                </div>
                <div class="col-lg-4">
                  <input type="text" id="ca3" name="ca3" placeholder="2014" formControlName="ca3">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Quelle est la part de votre CA en coaching individuel ?</label>
              <input type="text" id="percentageCoachingInRevenue" name="percentageCoachingInRevenue" placeholder="%s"
                     formControlName="percentageCoachingInRevenue">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Quel est votre statut juridique?</label>
              <input type="text" id="legalStatus" name="legalStatus" placeholder="Statut juridique"
                     formControlName="legalStatus">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Avez-vous une copie de votre assurance RC Pro ?</label><br>
              Si vous disposez pas d'une copie dans l'immédiat, merci de nous la faire parvenir a l'adresse suivante:
              diana@eritis.co.uk (nécessaire pour finaliser l'inscription).
              <div class="input-file-container">
                <span class="bold" *ngIf="insuranceUrl != null">{{insuranceUrl.name}} </span>
                <button class="btn-basic btn-blue btn-plain btn-small file-upload-button">Choisir un fichier</button>
                <input type="file"
                       accept=".pdf"
                       formControlName="insurance_document"
                       (change)="filePreview($event, 'insurance')">
              </div>
            </div>
          </div>
        </div>


        <!-- coach activity END -->

        <!-- Invoice -->

        <h2 class="col-lg-12 section-form-title">Coordonnées de facturation pour que nous puissions vous régler par
          virement
        </h2>

        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Entité</label>
              <input type="text" id="invoice_entity" name="invoice_entity" formControlName="invoice_entity"
                     placeholder="Nom civil, nom de l'entreprise, ...">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>N° Siret</label>
              <input type="text" id="invoice_siret_number" name="invoice_siret_number"
                     formControlName="invoice_siret_number"
                     placeholder="Votre numéro Siret">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12 input-container">
              <label>Adresse</label>
              <input type="text" id="invoice_address" name="invoice_address" formControlName="invoice_address"
                     placeholder="Adresse">
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 input-container">
              <label>Ville</label>
              <input type="text" id="invoice_city" name="invoice_city"
                     placeholder="Ville"
                     formControlName="invoice_city">
            </div>

            <div class="col-lg-6 input-container">
              <label>Code postal</label>
              <input type="text" id="invoice_postcode" name="invoice_postcode"
                     placeholder="Code postal"
                     formControlName="invoice_postcode">
            </div>
          </div>

        </div><!-- invoice END -->


        <div class=" col-lg-12 text-center input-container">
          <button class="btn-basic btn-plain btn-small btn-blue"
                  *ngIf="!onRegisterLoading"
                  [disabled]="!registerForm.valid"
                  (click)="onRegister()">
            Valider
          </button>

          <div class="preloader-wrapper active" *ngIf="onRegisterLoading">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>

      </div><!--end row>-->

    </form>

  </div>
</div>
