<h3 class="text-right welcome-message">Bonjour {{ (user | async)?.first_name}},<br>
  Le taux total d'utilisation de vos collaborateurs est de <span class="blue-text">{{(rhUsageRate | async)?.usage_rate}}%</span>
</h3>
<p class="text-right">
  <span class="blue-text">Cliquez</span> ici pour ajouter un manager
  <a class="btn-floating btn-large waves-effect waves-light add-meeting-btn"
     (click)="addPotentialCoacheeModalVisibility(true)">
    <i class="material-icons">add</i>
  </a>
</p>


<div class="row">
  <h4 class="col-lg-12 black-text">Managers</h4>
  <div class="card collection col-lg-12">

    <div *ifLoader="loading1">
      <div *ngIf="hasCollaborators">
        <div class="collection-item has-collaborator" *ngFor="let coachee of coachees | async">
          <rb-meeting-item-rh [coachee]="coachee"
                              [potentialCoachee]="null"
                              (onUpdateObjectiveBtnClick)="startAddNewObjectiveFlow($event)">
          </rb-meeting-item-rh>
        </div>
      </div>

      <div *ngIf="!hasCollaborators" class="collection-item text-center">
        <h5 class="no-meeting">Vos managers apparaîtront ici</h5>
      </div>
    </div>

    <loader-spinner></loader-spinner>

  </div><!--end card-->
</div><!--end row-->

<div class="row">
  <h4 class="col-lg-12 black-text">Managers invités en attente</h4>
  <div class="card collection col-lg-12">

    <div *ifLoader="loading2">
      <div *ngIf="hasPotentialCollaborators">
        <div class="collection-item" *ngFor="let potentialCoachee of potentialCoachees | async">
          <rb-meeting-item-rh [potentialCoachee]="potentialCoachee"
                              [coachee]="null">
          </rb-meeting-item-rh>
        </div>
      </div>

      <div *ngIf="!hasPotentialCollaborators" class="collection-item text-center">
        <h5 class="no-meeting">Vos managers en attente de validation apparaîtront ici</h5>
      </div>
    </div>

    <loader-spinner></loader-spinner>

  </div><!--end card-->
</div><!--end row-->





<!-- Modal RH add Coachee -->
<div id="add_potential_coachee_modal" class="modal">
  <div class="action-modal-content">
    <div class="action-modal-message">
      <label>Veuillez saisir l'adresse mail du manager. Un mail lui sera envoyé pour finaliser son
        inscription.</label>
      <input type="email" placeholder="Email" id="potential_mail" [(ngModel)]="potentialCoacheeEmail">
      <select [(ngModel)]="selectedPlan"
              [ngModelOptions]="{standalone: true}"
              name="plan_selector"
              class="browser-default">
        <option value="{{selectedPlan}}" disabled selected>Sélectionnez un plan</option>
        <option *ngFor="let plan of plans | async" [ngValue]="plan">
          {{ plan.sessions_count }} séances
        </option>
      </select>
    </div>
    <div class="action-modal-footer">
      <button class="btn-basic btn-plain btn-small" (click)="cancelAddPotentialCoachee()">Annuler</button>
      <button class="btn-basic btn-blue btn-plain btn-small" (click)="validateAddPotentialCoachee()"
              [disabled]="!potentialCoacheeEmail">Ajouter
      </button>
    </div>
  </div>
</div>

<!-- Modal RH add new objective to Coachee -->
<div id="add_new_objective_modal" class="modal">
  <div class="action-modal-content">
    <div class="action-modal-message">
      <label>Définissez un objectif</label>
      <input type="text" placeholder="Objectif" id="" [(ngModel)]="coacheeNewObjective">
    </div>
    <div class="action-modal-footer">
      <button class="btn-basic btn-blue btn-small" (click)="cancelAddNewObjectiveModal()">Annuler</button>
      <button class="btn-basic btn-blue btn-plain btn-small" (click)="validateAddNewObjectiveModal()"
              [disabled]="!coacheeNewObjective">Ajouter
      </button>
    </div>
  </div>
</div>
