<div class="row" [ngsReveal]="{origin: 'left', distance: '100px', scale: 1, delay: 200, duration: 1000}">
  <h3 class="col-lg-12 black-text">Nos coachs</h3>

  <div class="col-lg-12 card collection">

    <div *ifLoader="loading">
      <div class="collection-item" *ngFor="let coach of coachs | async">
        <er-admin-coach-item [coach]="coach"></er-admin-coach-item>
      </div>

      <div class="text-center" [hidden]="(coachs | async).length > 0">
        <p class="no-meeting">Les coachs apparaîtront ici</p>
      </div>
    </div>

  </div>
</div> <!--end row-->
