<header class="page-topbar user-connected"
        [ngsReveal]="{scale:1, origin: 'top', distance:'200px', duration: 500}">
  <div class="navbar navbar-fixed">
    <nav>
      <div class="navbar-color navbar-fixed z-depth-2">
        <div class="col s12">
          <a (click)="goToHome()" class="brand-logo center hide-on-med-and-down "><img
            src="assets/img/logo-eritis-new.png" alt="Eritis"></a>

          <a (click)="goToHome()" class="brand-logo brand-logo-phone center hide-on-large-only"><img
            src="assets/img/logo-eritis-new.png" alt="Eritis"></a>
        </div>
      </div>
    </nav>
  </div>
</header>
