<div class="row">
  <div class="col-xs-12">
    <a class="btn btn-success" [routerLink]="['new']">New Recipe</a>
  </div>
</div>

<hr>

<div class="row">

  <!--<md-grid-list cols="2" rowHeight="300px" class="recipes_grid">-->
    <!--<md-grid-tile *ngFor="let recipe of recipes; let i = index" class="recipe_grid_tile">-->
      <!--<rb-recipe-item [recipe]="recipe" [recipeId]="i"></rb-recipe-item>-->
    <!--</md-grid-tile>-->
  <!--</md-grid-list>-->

  <!--<div class="col-xs-12">-->
  <!--&lt;!&ndash;<ul class="list-group">&ndash;&gt;-->
  <!--&lt;!&ndash;<rb-recipe-item *ngFor="let recipe of recipes" [recipe]="recipe" (click)="onSelected(recipe)"></rb-recipe-item>&ndash;&gt;-->
  <!--&lt;!&ndash;</ul>&ndash;&gt;-->
  <!--</div>-->
</div>


<!--<md-card>-->
<!--Basic card.-->
<!--</md-card>-->
