<!--<md-card>-->
<!--<a [routerLink]="[recipeId]" class="clearfix" routerLinkActive="active">-->

<!--&lt;!&ndash;<a [routerLink]="[recipeId]" class="list-group-item clearfix" routerLinkActive="active">&ndash;&gt;-->
<!--<div class="pull-left">-->
<!--<h4 class="list-group-item-heading">{{recipe.name}}</h4>-->
<!--<p class="list-group-item-text">{{recipe.description}}</p>-->
<!--</div>-->
<!--<span class="pull-right">-->
<!--<img class="img-responsive"-->
<!--src="{{recipe.imagePath}}"-->
<!--style="max-height: 50px;"/>-->
<!--</span>-->

<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" #input>&ndash;&gt;-->
<!--&lt;!&ndash;<button (click)="onStore(input.value)">Store {{value}}</button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--</a>-->
<!--</md-card>-->


<!--<md-card [routerLink]="[recipeId]" routerLinkActive="active" [mdRippleColor]="red" md-ripple class="recipe_item_card">-->
  <!--<md-card-header>-->
    <!--&lt;!&ndash;<img md-card-avatar src="{{recipe.imagePath}}">&ndash;&gt;-->
    <!--<md-card-title>{{recipe.name}}</md-card-title>-->
  <!--</md-card-header>-->
  <!--&lt;!&ndash;<div class="recipe_item_img_container">&ndash;&gt;-->
    <!--<img md-card-image src="{{recipe.imagePath}}">-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--<md-card-content>-->
    <!--<p>{{recipe.description}}</p>-->
  <!--</md-card-content>-->
<!--</md-card>-->

