<div class="header-user" [ngsReveal]="{scale:1, origin: 'top', distance:'200px', duration: 500}">
  <div class="header-user-filter">
    <div class="container row">

      <div class="user col-lg-5">
        <button class="btn-back" (click)="goToCoachsAdmin()">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>

        <div class="user-img avatar z-depth-2"
             *ngIf="(coach | async)?.avatar_url != null"
             [style.background-image]="'url(' + (coach | async)?.avatar_url + ')'"></div>

        <div class="user-info">
          <h5>{{(coach | async)?.first_name}} {{(coach | async)?.last_name}}</h5>
          <p class="light-grey-text">{{(coach | async)?.email}}</p>
        </div>
      </div>

      <div class="col-sm-12 hide-on-large-only gap"></div>

      <div class="header-stats col-lg-7">
        <div class="row">
          <div class="header-item col-sm-12 col-lg-6">
            <div class="header-item-number"><span>{{(coach | async)?.score}}</span><span class="indice"> / 5</span>
            </div>
            <p class="header-item-title">Moyenne</p>
          </div>

          <div class="header-item col-sm-12 col-lg-6">
            <div class="header-item-number"><span>{{(coach | async)?.sessionsCount}}</span></div>
            <p class="header-item-title">séances réalisées</p>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="container" *ifLoader="loading" [ngsReveal]="{scale:1, opacity:0, distance:0, duration: 1000}">
  <h4 class="text-right italic">"{{ (coach | async)?.description }}"</h4>
  <br>

  <!--change picture >-->
  <div class="col-lg-6 input-container">
    <label>Photo de profil</label>
    <div class="avatar-container input-container">
      <div id="avatar-preview"
           class="avatar z-depth-2"
           [style.background-image]="'url(' + avatarFile + ')'"
           *ngIf="avatarFile != null"></div>
      <div class="input-file-container">
        <button class="btn-basic btn-blue btn-plain btn-small file-upload-button" *ngIf="!avatarLoading">Choisir une image</button>
        <input type="file"
               id="upload-avatar-input"
               accept=".jpeg,.jpg,.png"
               (change)="previewPicture($event)">

        <button class="btn-basic btn-blue btn-plain btn-small" *ngIf="avatarFile != null && !avatarLoading"
                (click)="uploadAvatarPicture()">Utiliser cette image
        </button>

        <div class="preloader-wrapper active" *ngIf="avatarFile != null && avatarLoading">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--change picture end >-->

  <div>

    <br>

    <div class="row">

      <div class="center col-lg-12">
        <a target="_blank" class="btn-basic btn-blue btn-plain btn-small" [href]="(coach | async)?.linkedin_url"><i
          class="fa fa-linkedin" aria-hidden="true"></i></a>
        <br><br>
      </div>

      <h2 class="col-lg-12 section-form-title">Coordonnées de facturation</h2>

      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 input-container">
            <p class="black-text">{{ (coach | async)?.invoice_entity }}</p>
            <p class="black-text">{{ (coach | async)?.invoice_address }}</p>
            <p class="black-text">{{ (coach | async)?.invoice_city }}</p>
            <p class="black-text">{{ (coach | async)?.invoice_postcode }}</p>
          </div>
        </div>
      </div>


      <h2 class="col-lg-12 section-form-title">Formation</h2>

      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 input-container">
            <label>Quelle est votre formation initiale ?</label>
            <p>{{ (coach | async)?.training }}</p>
            <br>
          </div>

          <div class="col-lg-12 input-container">
            <label>Quels sont vos diplômes, certifications et accréditations en coaching ?</label>
            <p>{{ (coach | async)?.degree }}</p>
            <br>
          </div>
        </div>
      </div>


      <h2 class="col-lg-12 section-form-title">Activité de coach</h2>

      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 input-container">
            <label>Quelle(s) langue(s) pratiquez vous en coaching ?</label>
            <p>{{ (coach | async)?.languages }}</p>
            <br>
          </div>

          <div class="col-lg-12 input-container">
            <label>Exercez-vous d'autres activités que le coaching ?</label>
            <p>{{ (coach | async)?.extraActivities }}</p>
            <br>
          </div>

          <div class="col-lg-12 input-container">
            <label>Depuis combien de temps exercez-vous l'activité de coaching ?</label>
            <p>{{ (coach | async)?.coachForYears }}</p>
            <br>
          </div>

          <div class="col-lg-12 input-container">
            <label>Quelles sont vos expériences en coaching individuel et en coaching individuel via
              visioconférence (Skype par exemple) ?</label>
            <p>{{ (coach | async)?.coachingExperience }}</p>
            <br>
          </div>

          <div class="col-lg-12 input-container">
            <label>Quelles sont vos expériences en coaching bref sur 45 minutes ?</label>
            <p>{{ (coach | async)?.experienceShortSession }}</p>
          </div>

          <div class="col-lg-12 input-container">
            <label>Quelles sont les spécialités et/ou spécificités que vous utilisez lors du coaching ?</label>
            <p>{{ (coach | async)?.coachingSpecifics }}</p>
          </div>

          <div class="col-lg-12 input-container">
            <label>Donnez quelques éléments de votre parcours de développement personnel / thérapie ?</label>
            <p>{{ (coach | async)?.therapyElements }}</p>
          </div>

          <div class="col-lg-12 input-container">
            <label>Combien d'heures de coaching individuel avez-vous déjà réalisé ?</label>
            <p>{{ (coach | async)?.coachingHours }}</p>
            <br>
          </div>

          <div class="col-lg-12 input-container">
            <label>Quel est votre dispositif de supervision ?</label>
            <p>{{ (coach | async)?.supervisor }}</p>
            <br>
          </div>

          <div class="col-lg-12 input-container">
            <label>Quels types ou situations de coaching privilégiez-vous ?</label>
            <p>{{ (coach | async)?.favoriteCoachingSituation}}</p>
            <br>
          </div>

          <div class="col-lg-12 input-container">
            <label>Quel est votre statut ?</label>
            <p>{{ (coach | async)?.status }}</p>
            <br>
          </div>

          <div class="col-lg-12 input-container">
            <label>Quel est votre chiffre d'affaires sur les 3 dernières années ?</label>
            <p>{{ (coach | async)?.revenues }}</p>
            <br>
          </div>

          <div class="col-lg-12 input-container">
            <label>Avez-vous une copie de votre assurance RC Pro ?</label><br>
            <p><a [href]="(coach | async)?.insurance_url" target="_blank">Contrat d'assurance</a></p>
            <br>
          </div>
        </div>
      </div>

    </div><!--end row>-->

  </div>

</div>
