<div class="header-user">
  <div class="header-user-filter">
    <div class="container row">

      <div class="user col-lg-5">
        <!--<img src="{{(coach | async)?.avatar_url}}" alt="profile image" class="user-img circle responsive-img z-depth-2">-->
        <div class="user-img avatar z-depth-2"
             *ngIf="(coach | async)?.avatar_url != null"
             [style.background-image]="'url(' + (coach | async)?.avatar_url + ')'"></div>

        <div class="user-info">
          <h5>{{(coach | async)?.firstName}} {{(coach | async)?.lastName}}</h5>
          <h6>{{(coach | async)?.email}}</h6>
        </div>
      </div>

      <div class="col-sm-12 hide-on-large-only gap"></div>

      <div class="header-stats col-lg-7">
        <div class="row">
          <div class="header-item col-sm-4">
            <div class="header-item-number"><span>{{(coach | async)?.score}}</span><span class="indice"> / 5</span></div>
            <p class="header-item-title">Moyenne</p>
          </div>

          <!--<div class="header-item col-sm-3">-->
          <!--<div class="header-item-number"><span>10</span><span class="indice">mois</span></div>-->
          <!--<p class="header-item-title">Expérience</p>-->
          <!--</div>-->

          <div class="header-item col-sm-4">
            <div class="header-item-number"><span>6</span></div>
            <p class="header-item-title">Séances réalisées</p>
          </div>

          <div class="header-item col-sm-4">
            <div class="header-item-number"><span>3</span></div>
            <p class="header-item-title">Personnes coachées</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <h4 class="text-right italic">"{{ (coach | async)?.description }}"</h4>
  <br>

  <div>
    <div class="center">
      <button class="btn-basic btn-plain btn-blue btn-small center" (click)="goToCoachsAdmin()">Retourner aux coachs</button>
    </div>
    <br><br>
  </div>

</div>
