<div class="row">
  <h4 class="col-lg-12 black-text">Demandes d'inscription</h4>

  <div class="col-lg-12 card collection">
    <div *ngIf="(possibleCoachs | async) != null">
      <div class="collection-item" *ngFor="let coach of possibleCoachs | async">
        <rb-possible-coach-item [coach]="coach"></rb-possible-coach-item>
      </div>
    </div>

    <div class="text-center" *ngIf="(possibleCoachs | async) == null">
      <h5 class="no-meeting">Les Demandes apparaîtront ici</h5>
    </div>
  </div>
</div> <!--end row-->

