$main-header-color: rgba(0, 72, 129, 0.6);
$main-bg-color: #C3D9E8;
$main-white-color: #ffffff;
$main-white-color--hover: #5e5e5e;
$main-dark-grey: #3E3E3E;
$main-font-grey: #7D7D7D;
$main-light-grey: #C7C7C7;
$main-ultra-light-grey: #e5e5e5;
$main-electric-blue: #46b0ff;
$main-dark-blue: #235880;
$main-blue-filter: rgba(35, 88, 128, 0.6);
$main-red-color: #F06060;
$main-light-green: #3df5d1;
