<div class="meeting-item col-lg-12">

  <div class="preloader-wrapper active" *ngIf="loading">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading">

    <!-- Coach -->
    <div class="row">
      <div class="meeting-item-header col-md-12 col-lg-4">
        <div>
          <div class="meeting-item-coach has-coach" (click)="goToCoachProfile(coach.id)">
            <div>
              <!-- image coach -->
              <img class="meeting-item-coach-avatar circle img-responsive" alt="coach" [src]="coach.avatar_url">
            </div>

            <div>
              <p class="meeting-item-coach-name black-text bold">{{ coach.firstName}} {{ coach.lastName}}</p>
              <p class="italic">{{ coach.email }}</p>
            </div>
          </div>

          <!-- PLAN -->
          <!--<div class="meeting-item-date">-->
            <!--<span class="meeting-item-date-date"><span class="blue-text">{{ coach.plan.sessions_count }}</span> séances</span>-->
          <!--</div>-->

        </div>
      </div>

      <!-- GOAL -->
      <div class="meeting-item-body col-md-12 col-lg-8">
        <div class="meeting-item-body-content">
          <span>Inscrit le {{ printDateString(coach.start_date) }}</span>
        </div>
      </div><!--end meeting-item-body-->

    </div><!--end coach-->

  </div><!--end row-->

</div><!--end meeting-item-->



<!--<div class="container">-->
  <!--<div class="row coach_card">-->

    <!--<div class="col s12" style="padding: 16px">-->

      <!--<span>{{ coach.firstName}} {{ coach.lastName}}</span>-->
      <!--<img style="width: 30px;height: 30px" src="{{coach.avatar_url}}" alt="">-->

    <!--</div>-->

  <!--</div>-->

<!--</div>-->
