<er-simple-header></er-simple-header>

<div class="container" [ngsReveal]="{origin: 'left', distance: '100px', scale: 1, delay: 200, duration: 1000}">
  <div id="introduction">
    <h1 class="black-text text-center">Politique sur les cookies</h1>
    <p>
      Ce site utilise des cookies: de petits fichiers texte placés sur votre machine
      pour aider le site à offrir une meilleure expérience utilisateur. En général,
      les cookies sont utilisés pour conserver les préférences de l’utilisateur, stocker
      des informations pour des choses comme des chariots d’achat et fournir des données
      de suivi anonymes à des applications tierces comme Google Analytics. En règle générale,
      les cookies amélioreront votre expérience de navigation. Cependant, si vous préférez
      désactiver les cookies sur ce site et sur d’autres. Le moyen le plus efficace est
      de désactiver les cookies dans votre navigateur.
    </p>
  </div>
</div>
