<div class="container">

  <h4 (click)="navigateAdminHome()">Admin page</h4>


  <p *ngIf="(admin | async)?.email !=null">Connecté comme {{ (admin | async)?.email }}</p>


  <button class="btn cyan waves-effect waves-light" (click)="navigateToSignup()">Envoyer invitations</button>
  <button class="btn cyan waves-effect waves-light" (click)="navigateToCoachsList()">Nos coachs</button>
  <button class="btn cyan waves-effect waves-light" (click)="navigateToCoacheesList()">Nos coachés</button>
  <button class="btn cyan waves-effect waves-light" (click)="navigateToRhsList()">Nos rhs</button>

  <router-outlet></router-outlet>

</div>

