<div class="container">

  <h4 class="text-right" (click)="navigateAdminHome()">Espace admin
    <span class="text-right italic blue-text admin-name" *ngIf="(admin | async)?.email != null">{{ (admin | async)?.email }}</span>
    <span class="text-right italic blue-text admin-name" *ngIf="(admin | async)?.email == null">non identifié</span>
  </h4>
  <p class="text-right">
    <span class="blue-text">Cliquez</span> ici pour ajouter un utilisateur
    <a class="btn-floating btn-large waves-effect waves-light add-meeting-btn"
       (click)="navigateToSignup()">
      <i class="material-icons">add</i>
    </a>
  </p>

  <router-outlet></router-outlet>

</div>

