<div class="meeting-item col-lg-12" [class.closed]="!meeting.isOpen" [class.unbooked]="!meeting.agreed_date">
  <!--<span class="card-title">Vous avez choisi {{ coach.display_name }} pour être votre coach.</span>-->

  <div class="preloader-wrapper active" *ngIf="loading">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!loading">

    <!-- COACHEE -->
    <div class="meeting-item-header col-md-12 col-lg-5">
      <div>
        <div class="meeting-item-coach">
          <div>
            <!-- image coach-->
            <img *ngIf="meeting.coachee" class="meeting-item-coach-avatar circle img-responsive" alt="coachee"
                 [src]="meeting.coachee.avatar_url">
            <img *ngIf="!meeting.coachee" class="meeting-item-coach-avatar circle img-responsive" alt="coachee"
                 src="https://s-media-cache-ak0.pinimg.com/originals/af/25/49/af25490494d3338afef00869c59fdd37.png">
          </div>

          <div>
            <p class="meeting-item-coach black-text bold" *ngIf="meeting.coachee">{{ meeting.coachee.display_name }}</p>
            <p class="italic">Company name</p>
          </div>
        </div><!--end meeting-item-coach-->

        <!-- DATE -->
        <div class="meeting-item-date" *ngIf="meeting.agreed_date">
          <span class="meeting-item-date-date">{{ getDate(meeting.agreed_date.start_date) }}</span>
          <span class="meeting-item-date-hour">{{ printTimeString(meeting.agreed_date.start_date) }}</span>
        </div>

        <div class="meeting-item-date" *ngIf="!meeting.agreed_date">
          <span class="meeting-item-date-date">{{ getDate(meeting.created_date) }}</span>
          <span class="meeting-item-date-hour">{{ printTimeString(meeting.created_date) }}</span>
        </div>
      </div>
    </div>

    <!-- GOAL & REVIEW -->
    <div class="meeting-item-body col-md-12 col-lg-7">
      <div class="meeting-item-body-content">
        <p>
          <span class="black-text bold">Objectif personnel: </span>
          <span *ngIf="meeting.coachee.last_objective != null">{{ meeting.coachee.last_objective.objective }}</span>
          <span *ngIf="meeting.coachee.last_objective == null">n/a</span>
        </p>
        <br>
        <p class="meeting-item-goal">
          <span class="black-text bold">Objectif de la séance: </span>
          <span *ngIf="hasGoal">{{(goal | async)}}</span>
          <span *ngIf="!hasGoal" class="red-text">Pas encore défini...</span>
        </p>
        <br>
        <p><span class="black-text bold">Context :</span> {{ (context | async) }}</p>

        <!--Complétées-->
        <div *ngIf="!meeting.isOpen" class="meeting-review">
          <div *ngIf="hasValue && hasNextStep">
            <br>
            <p><span class="black-text bold">En quoi la séance a-t-elle été utile ? </span>{{ reviewValue }}</p>
            <br>
            <p><span class="black-text bold">Avec quoi êtes vous reparti ? </span>{{ reviewNextStep }}</p>
          </div>
        </div><!--end meeting-review-->

        <!--Demandes disponibles-->
        <div *ngIf="!meeting.agreed_date" class="meeting-review">
          <div>
            <br>
            <p><span class="black-text bold">Disponibilités :</span></p>
            <div class="meeting-potential" *ngFor="let potential of potentialDates | async">
              <span class="meeting-potential-date">{{ getDate(potential.start_date) }}</span>
              <span class="meeting-potential-hours">{{ printTimeString(potential.start_date) }} - {{ printTimeString(potential.end_date) }}</span>
            </div>
            <br>
            <form class="confirm-meeting-form">
              <!--<span class="black-text bold">Réponse :</span>-->
              <div class="input-field">
                <select [(ngModel)]="selectedDate" name="meeting-date" class="browser-default"
                        (change)="loadPotentialHours(selectedDate)">
                  <option value="0" disabled selected>Date</option>
                  <option *ngFor="let d of potentialDays | async" [ngValue]=" d ">
                    {{ getDate(d) }}
                  </option>
                </select>
              </div>
              <div class="input-field">
                <select [(ngModel)]="selectedHour" name="meeting-hour" class="browser-default"
                        materialize="material_select">
                  <option value="0" disabled selected>Heure</option>
                  <option *ngFor="let h of potentialHours | async" [ngValue]="h">
                    {{ printTimeNumber(h) }} - {{ printTimeNumber(h+1) }}
                  </option>
                </select>
              </div>
              <!--<div>-->
                <!--<button type="submit" class="btn-basic btn-blue btn-small"-->
                        <!--[disabled]="!selectedDate || !selectedHour"-->
                        <!--(click)="openCoachValidateMeetingModal()">Devenir coach-->
                <!--</button>-->
              <!--</div>-->
            </form>
          </div>
        </div><!--end meeting-review-->
      </div>

      <div class="meeting-item-body-buttons" *ngIf="meeting.isOpen">
        <!--<button class="btn-basic btn-plain btn-blue btn-small"-->
                <!--(click)="toggleShowDetails()">DETAIL-->
        <!--</button>-->
        <button type="submit" class="btn-basic btn-blue btn-plain btn-small"
                *ngIf="!meeting.agreed_date"
                [disabled]="!selectedDate || !selectedHour"
                (click)="onValidateDateClick()">Coacher
        </button>

        <button type="submit" class="btn-basic btn-blue btn-plain btn-small"
                *ngIf="meeting.agreed_date"
                (click)="onCloseMeetingBtnClick()">Clore
        </button>
        <!--<button class="btn-basic btn-cancel"-->
                <!--*ngIf="meeting.agreed_date"-->
                <!--(click)="openModal()">-->
          <!--<i class="material-icons">clear</i>-->
        <!--</button>-->
      </div>
    </div><!--end meeting-item-body-->

  </div><!--end row-->

</div><!--end meeting-item-->


<!--
<div class="card">
  <div class="card-content">
    <span class="card-title">Vous avez été choisi par {{ coachee.display_name }} pour une séance.</span>


    &lt;!&ndash; Meeting is closed&ndash;&gt;
    <div *ngIf="!meeting.isOpen">
      <h4>Meeting is now closed</h4>
    </div>

    &lt;!&ndash; Meeting is open &ndash;&gt;
    <div *ngIf="meeting.isOpen">
      <div class="col s12" *ngIf="meeting.agreed_date == null">

        &lt;!&ndash; no potential dates selected&ndash;&gt;
        <div class="section" *ngIf="(potentialDates | async)== null">
          <h5>Votre coachee doit d'abord indiquer ses préférences horaires</h5>
        </div>

        &lt;!&ndash; some potential dates selected&ndash;&gt;
        <div class="section" *ngIf="(potentialDates | async)!= null">
          <h5>Votre coachee a indiqué ses préférences horaires</h5>

          &lt;!&ndash; list of potential dates &ndash;&gt;
          <div *ngFor="let date of potentialDates | async">
            <h6>Possible date</h6>
            <p>Le : {{date.start_date | date}}</p>
            <p>De : {{date.start_date | date:'shortTime'}}</p>
            <p>A : {{date.end_date | date:'shortTime'}}</p>

            <button class="btn cyan waves-effect waves-light right" (click)="confirmPotentialDate(date)">
              Confirmer cette date
              <i class="mdi-content-send right"></i>
            </button>

          </div>
        </div>

      </div>

      <div class="col s12" *ngIf="meeting.agreed_date ">
        <h5>Votre meeting est le : {{meeting.agreed_date.start_date | date}} à {{meeting.agreed_date.start_date | date:'shortTime'}} </h5>
      </div>

    </div>


    &lt;!&ndash; check if you have some reviews&ndash;&gt;
    <div class="container" *ngIf="(hasSomeReviews | async)">

      <h4>Comments</h4>

      &lt;!&ndash; list of reviews &ndash;&gt;
      <div *ngFor="let review of reviews | async">

        <div class="card">
          <div class="card-content">
            <span class="card-title">Meeting Review</span>
            <div class="list-group-item-text">at : {{review.date}}</div>
            <div class="list-group-item-text">comment : {{review.comment}}</div>
            <div class="list-group-item-text">score : {{review.score}}</div>
          </div>
        </div>
      </div>

    </div>
    &lt;!&ndash; /reviews&ndash;&gt;

    &lt;!&ndash; Display Close Form is the Meeting is still open &ndash;&gt;
    <div *ngIf="meeting.isOpen" class="card">

      <div class="card-content">

        <h5>Close this meeting</h5>

        <form [formGroup]="closeMeetingForm" (ngSubmit)="submitCloseMeetingForm()">

          <div class="form-group">
            <label for="recap">Résumé du meeting</label>
            <input
              type="text"
              id="recap"
              class="form-control"
              formControlName="recap">
          </div>

          &lt;!&ndash;<button type="submit" class="btn btn-success">Envoyer</button>&ndash;&gt;
          &lt;!&ndash;<button type="submit" class="btn btn-success" [disabled]="!closeMeetingForm.valid">Envoyer</button>&ndash;&gt;
          <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
            Fermer le meeting
            <i class="mdi-content-send right"></i>
          </button>
        </form>
      </div>
    </div>


  </div>


</div>
-->
