<!--<div class="list-group">-->

  <!--<div class="list-group-item column">-->
    <!--<h4 class="list-group-item-heading">You have a meeting</h4>-->
    <!--<p class="list-group-item-text">at : {{meeting.date}}</p>-->
    <!--<p class="list-group-item-text">with : {{ (coach | async)?.display_name }}</p>-->

  <!--</div>-->


  <!--<div class="list-group-item column" *ngIf="(hasSomeReviews | async)">-->
    <!--&lt;!&ndash; list of reviews &ndash;&gt;-->

    <!--<div *ngFor="let review of reviews | async">-->
      <!--<div class="list-group-item column">-->
        <!--<div class="list-group-item-heading">You wrote a review</div>-->
        <!--<div class="list-group-item-text">at : {{review.date}}</div>-->
        <!--<div class="list-group-item-text">comment : {{review.comment}}</div>-->
        <!--<div class="list-group-item-text">score : {{review.score}}</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->

  <!--<hr>-->

  <!--&lt;!&ndash; add a review &ndash;&gt;-->
  <!--<rb-pre-meeting *ngIf="!(hasSomeReviews | async)" [meeting]="meeting"></rb-pre-meeting>-->


<!--</div>-->


<!--Basic Card-->
<!--<div id="basic-card" class="section">-->
  <!--<h4 class="header">Vous avez une séance avec{{ (coach | async)?.display_name }} </h4>-->
  <!--<div class="row">-->
    <!--<div class="col s12 m4 l3">-->
      <!--<p>Details</p>-->
    <!--</div>-->
    <!--<div class="col s12 m8 l9">-->
      <!--<div class="row">-->
        <!--<div class="col s12 m8 l9">-->
          <div class="card  light-blue">
            <div class="card-content white-text">
              <span class="card-title">Vous avez une séance avec {{ (coach | async)?.display_name }}</span>
              <p>Le : {{meeting.date}}</p>


              <div class="list-group-item column" *ngIf="(hasSomeReviews | async)">
                <!-- list of reviews -->

                <div *ngFor="let review of reviews | async">
                  <div class="list-group-item column">
                    <div class="list-group-item-heading">You wrote a review</div>
                    <div class="list-group-item-text">at : {{review.date}}</div>
                    <div class="list-group-item-text">comment : {{review.comment}}</div>
                    <div class="list-group-item-text">score : {{review.score}}</div>
                  </div>
                </div>

              </div>

              <hr>

              <!-- add a review -->
              <rb-pre-meeting *ngIf="!(hasSomeReviews | async)" [meeting]="meeting"></rb-pre-meeting>

            </div>
            <!--<div class="card-action">-->
              <!--<a href="#" class="lime-text text-accent-1">This is a link</a>-->
              <!--<a href="#" class="lime-text text-accent-1">This is a link</a>-->
            <!--</div>-->

          </div>
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

