<rb-header></rb-header>
<div class="container">
  <div class="row">
    <div class="col s12">

      <div>
        <!-- TODO : display next line only if user is a Coachee-->

        <h4 class="text-right">Bonjour {{(user | async)?.display_name}}, il vous reste <span class="nb-seances">{{(user | async)?.availableSessionsCount}}</span> séances</h4>
        <p class="text-right" *ngIf="isUserACoachee((user | async))">
          Planifier une nouvelle séance
          <a class="btn-floating btn-large waves-effect waves-light add-meeting-btn" (click)="goToDate()">
            <i class="material-icons">add</i>
          </a>
        </p>
      </div>

      <!-- views for coach -->
      <div *ngIf="isUserACoach((user | async))">
        <rb-meeting-item-coach *ngFor="let meeting of meetings | async" [meeting]="meeting"
                               (meetingUpdated)="onRefreshRequested($event)"></rb-meeting-item-coach>
      </div>

      <!-- views for coachee -->
      <div *ngIf="isUserACoachee((user | async))">
        <div class="row">
          <rb-meeting-item-coachee class="col-lg-3"
                                   *ngFor="let meeting of meetings | async"
                                   [meeting]="meeting"
                                   (potentialDatePosted)="onRefreshRequested($event)">
          </rb-meeting-item-coachee>
        </div>
      </div>
    </div>
  </div>
</div>

