<!--<rb-header></rb-header>-->

<div class="container">
  <div class="row">
    <div class="col s12">

      <!-- welcome message for coachee -->
      <div *ngIf="isUserACoachee((user | async))">
        <rb-coachee-dashboard></rb-coachee-dashboard>
      </div>

      <!-- welcome message for coach -->
      <div *ngIf="isUserACoach((user | async))">
        <rb-meeting-list-coach></rb-meeting-list-coach>
      </div>

      <!-- welcome message for rh -->
      <div *ngIf="isUserARh((user | async))">
        <rb-meeting-list-rh></rb-meeting-list-rh>
      </div>

    </div><!--end row-->
  </div><!--end container-->
</div>
