<h4  *ngIf="!meeting.open" class="list-group-item-heading">Meeting is closed</h4>

<div *ngIf="meeting.open" class="list-group-item column">
  <h4 class="list-group-item-heading">You have a meeting</h4>
  <p class="list-group-item-text">at : {{meeting.date}}</p>
  <p class="list-group-item-text">with : {{ (coachee | async)?.display_name }}</p>

</div>


<!-- Display Close Form is the Meeting is still open -->
<div *ngIf="meeting.open">

  <h2>Close meeting</h2>

  <form [formGroup]="closeMeetingForm" (ngSubmit)="submitCloseMeetingForm()">

    <div class="form-group">
      <label for="recap">Resume du meeting</label>
      <input
        type="text"
        id="recap"
        class="form-control"
        formControlName="recap">
    </div>

    <button type="submit" class="btn btn-success">Envoyer</button>
    <!--<button type="submit" class="btn btn-success" [disabled]="!closeMeetingForm.valid">Envoyer</button>-->
  </form>

</div>
