<div [ngsReveal]="{distance: '100px', origin: 'right', duration: 1000, delay: 200}">
  <h3 class="text-right">Bonjour {{ (user | async)?.first_name}},
  il vous reste <span class="blue-text">{{(user | async)?.availableSessionsCount || 0}}</span>
  séance<span *ngIf="(user | async)?.availableSessionsCount > 1">s</span>
  pour ce mois
  </h3>
  <h5 class="italic text-right" *ngIf="(user | async)?.last_objective != null">
    Objectif fixé avec votre RH: "{{(user | async).last_objective.objective}}"</h5>
  <h5 class="italic text-right" *ngIf="(user | async)?.last_objective == null">
    Vous n'avez pas encore d'objectif fixé avec votre RH</h5>
  <p class="text-right" *ngIf="(user | async)?.availableSessionsCount > 0">
    <span class="blue-text">Cliquez</span> ici pour planifier une nouvelle séance
    <a class="btn-floating btn-large waves-effect waves-light add-meeting-btn" (click)="goToDate()">
      <i class="material-icons">add</i>
    </a>
  </p>
</div>

<div [ngsReveal]="{origin: 'left', distance: '100px', scale: 1, delay: 200, duration: 1000}">
  <div class="row">
    <h4 class="col-lg-12 black-text">&Agrave; venir</h4>
    <div class="card collection col-lg-12">

      <div *ngIf="hasOpenedMeeting">
        <div class="collection-item" *ngFor="let meeting of meetingsOpened | async">
          <rb-meeting-item-coachee [meeting]="meeting"
                                   (cancelMeetingTimeEvent)="openCoacheeDeleteMeetingModal($event)">
          </rb-meeting-item-coachee>
        </div>
      </div>

      <div *ngIf="!hasOpenedMeeting" class="collection-item text-center">
        <p class="no-meeting">Vos séances à venir apparaîtront ici</p>
      </div>

    </div><!--end card-->
  </div><!--end row-->

  <div class="row">
    <h4 class="col-lg-12 black-text">Complétées</h4>
    <div class="card collection col-lg-12">

      <div *ngIf="hasClosedMeeting">
        <div class="collection-item" *ngFor="let meeting of meetingsClosed | async">
          <rb-meeting-item-coachee [meeting]="meeting"
                                   (cancelMeetingTimeEvent)="openCoacheeDeleteMeetingModal($event)"
                                   (onRateSessionBtnClickedEmitter)="openRateSessionModal($event)">
          </rb-meeting-item-coachee>
        </div>
      </div>

      <div *ngIf="!hasClosedMeeting" class="collection-item text-center">
        <p class="no-meeting">Vos séances complétées apparaîtront ici</p>
      </div>

    </div><!--end card-->
  </div><!--end row-->
</div>


<!-- Modal Coachee Delete Meeting -->
<div id="coachee_delete_meeting_modal" class="modal">
  <div class="action-modal-content">
    <div class="action-modal-message">
      <h5 class="black-text center">Ce meeting sera supprimé définitivement.</h5>
    </div>
    <div class="action-modal-footer">
      <button class="btn-basic btn-blue btn-small" (click)="cancelCoacheeDeleteMeeting()">Annuler</button>
      <button class="btn-basic btn-blue btn-plain btn-small" (click)="validateCoacheeDeleteMeeting()">Supprimer</button>
    </div>
  </div>
</div>

<!-- Modal Coachee Delete Meeting -->
<div id="rate_session_modal" class="modal">
  <div class="action-modal-content">
    <div class="action-modal-message">
      <h5 class="black-text center">Notez votre séance</h5>
    </div>

    <div class="action-modal-message">
      <div class="ratebar center">
        <div class="rate-star" [class.selected]="sessionRate > 0" [class.pre-selected]="sessionPreRate > 0" (click)="setSessionRate(1)" (mouseenter)="setSessionPreRate(1)" (mouseleave)="setSessionPreRate(sessionRate)">
          <i class="material-icons star">star</i>
        </div>
        <div class="rate-star" [class.selected]="sessionRate > 1" [class.pre-selected]="sessionPreRate > 1" (click)="setSessionRate(2)" (mouseenter)="setSessionPreRate(2)" (mouseleave)="setSessionPreRate(sessionRate)">
          <i class="material-icons star">star</i>
        </div>
        <div class="rate-star" [class.selected]="sessionRate > 2" [class.pre-selected]="sessionPreRate > 2" (click)="setSessionRate(3)" (mouseenter)="setSessionPreRate(3)" (mouseleave)="setSessionPreRate(sessionRate)">
          <i class="material-icons star">star</i>
        </div>
        <div class="rate-star" [class.selected]="sessionRate > 3" [class.pre-selected]="sessionPreRate > 3" (click)="setSessionRate(4)" (mouseenter)="setSessionPreRate(4)" (mouseleave)="setSessionPreRate(sessionRate)">
          <i class="material-icons star">star</i>
        </div>
        <div class="rate-star" [class.selected]="sessionRate > 4" [class.pre-selected]="sessionPreRate > 4" (click)="setSessionRate(5)" (mouseenter)="setSessionPreRate(5)" (mouseleave)="setSessionPreRate(sessionRate)">
          <i class="material-icons star">star</i>
        </div>
      </div>
    </div>


    <div class="action-modal-footer">
      <button class="btn-basic btn-plain btn-small" (click)="cancelRateSessionModal()">Annuler</button>
      <button class="btn-basic btn-blue btn-plain btn-small" (click)="validateRateSessionModal()">Noter</button>
    </div>
  </div>
</div>
