<h4 class="text-right">Il vous reste <span
  class="blue-text">{{(user | async)?.availableSessionsCount || 0}}</span>
  séance<span *ngIf="(user | async)?.availableSessionsCount > 1">s</span>
  pour ce mois
  <h5 class="italic" *ngIf="(user | async)?.last_objective != null">
    Objectif de votre RH: "{{(user | async).last_objective.objective}}"</h5>
  <h5 class="italic" *ngIf="(user | async)?.last_objective == null">
    Vous n'avez pas encore d'objectif personnel</h5>
</h4>
<p class="text-right" *ngIf="(user | async)?.availableSessionsCount > 0">
  <span class="blue-text">Cliquez</span> ici pour planifier une nouvelle séance
  <a class="btn-floating btn-large waves-effect waves-light add-meeting-btn" (click)="goToDate()">
    <i class="material-icons">add</i>
  </a>
</p>



<div class="row">
  <h4 class="col-lg-12 black-text">A venir</h4>
  <div class="card collection col-lg-12">

    <div *ngIf="hasOpenedMeeting">
      <div class="collection-item" *ngFor="let meeting of meetingsOpened | async">
        <rb-meeting-item-coachee [meeting]="meeting"
                                 (cancelMeetingTimeEvent)="openCoacheeDeleteMeetingModal($event)">
        </rb-meeting-item-coachee>
      </div>
    </div>

    <div *ngIf="!hasOpenedMeeting" class="collection-item text-center">
      <h5 class="no-meeting">Vos séances à venir apparaîtront ici</h5>
    </div>

  </div><!--end card-->
</div><!--end row-->

<div class="row">
  <h4 class="col-lg-12 black-text">Complétées</h4>
  <div class="card collection col-lg-12">

    <div *ngIf="hasClosedMeeting">
      <div class="collection-item" *ngFor="let meeting of meetingsClosed | async">
        <rb-meeting-item-coachee [meeting]="meeting"
                                 (cancelMeetingTimeEvent)="openCoacheeDeleteMeetingModal($event)">
        </rb-meeting-item-coachee>
      </div>
    </div>

    <div *ngIf="!hasClosedMeeting" class="collection-item text-center">
      <h5 class="no-meeting">Vos séances complétées apparaîtront ici</h5>
    </div>

  </div><!--end card-->
</div><!--end row-->



<!-- Modal Coachee Delete Meeting -->
<div id="coachee_delete_meeting_modal" class="modal">
  <div class="action-modal-content">
    <div class="action-modal-message">
      <h5 class="black-text center">Ce meeting sera supprimé définitivement.</h5>
    </div>
    <div class="action-modal-footer">
      <button class="btn-basic btn-plain btn-small" (click)="cancelCoacheeDeleteMeeting()">Annuler</button>
      <button class="btn-basic btn-red btn-plain btn-small" (click)="validateCoacheeDeleteMeeting()">Supprimer</button>
    </div>
  </div>
</div>
