@import "../../../../../saas/variables";

.collection-item{
  padding: 0 16px;
}

.no-meeting {
  padding: 32px 0;
  margin: 0;
}

.card.collection {
  overflow: visible;
}

#coachee_delete_meeting_modal {
  height: 200px !important;
}

#rate_session_modal {
  height: 250px !important;
}
