nav{
  background-color: transparent;
  box-shadow: none;
  padding: 16px;
}

nav li{
  background-color: transparent !important;
}

nav li:hover a,
nav li:focus a{
  color: var(--main-dark-grey) !important;
  transition: .3s;
}

.logo-text img{
  height: 50px;
}

.bg-top-image {
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background: url("../../assets/img/eritis-mountain-bg-2.jpg") no-repeat center;
  height: 1000px;
  width: 100%;
  max-width: 100%;
  z-index: -10;
}

.bg-top-filter{
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-blue-filter);
  height: 1000px;
  width: 100%;
  max-width: 100%;
  z-index: -1;
}

.section{
  padding: 32px 0;
}

header.section{
  padding: 0;
}

header.section .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--main-white-color);
  padding: 160px 0;
}

.header-title{
  /*font-size: 66px*/
  font-size: 8vmin; /*Test taille adaptative relative à la taille minimale de l'écran*/
  font-weight: 500;
  letter-spacing: 1.1px;
  margin: 0;
}

.header-subtitle{
  /*font-size: 36px;*/
  font-size: 4vmin;
  font-weight: 300;
  letter-spacing: 2.3px;
  margin: 64px 0;
  opacity: 0.6;
}

.header-btn .btn-basic{
  min-width: 200px;
}

.header-arrow-bottom{
  font-size: 66px;
  color: var(--main-white-color);
  opacity: 0.6;
}

.header-arrow-bottom:hover{
  opacity: 1;
}

rb-signin{
  width: 30%;
}

@media(max-width: 960px){
  rb-signin{
    width: 80%;
  }
}

.desc_icon {
  width: 96px;
  height: 96px;
}

.content {
  flex-grow: 1;
}

.section_title{
  /*font-size: 42px;*/
  color: #000;
  font-size: 5vmin;
  font-weight: 600;
  margin-bottom: 128px;
  margin-top: 0;
}

#presentation {
  background: var(--main-white-color);
}

.presentation_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  margin-top: 64px;
}

.presentation_item_title{
  /*font-size: 32px;*/
  font-size: 4vmin;
  height: 64px;
  color: #1D1D1D;
}

.presentation_item_text{
  /*font-size: 22px;*/
  font-size: 3vmin;
  color: var(--main-light-grey);
}

#coach_section {
  display: inline-block;
  background-image: linear-gradient(to top, #46b0ff, #0073cf);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  color: var(--main-white-color);
}

.coach_section_title {
  color: var(--main-white-color);
  margin-bottom: 32px;
}

.coach_section_subtitle {
  margin: 0;
}

.coach_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2%;
  margin-top: 64px;
}

.coach_description h4{
  /*font-size: 36px;*/
  font-size: 4vmin;
  height: 72px;
}

.coach_description p{
  font-size: 2.5vmin;
  opacity: 0.8;
}

.coach_img {
  height: 173px;
  width: 173px;
  background-size: cover;
}

.small-line-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.small-line{
  height: 1px;
  width: 180px;
  border: solid 1px rgba(255, 255, 255, 0.67);
}

footer {
  background-color: var(--main-white-color);
}

textarea{
  width: 100%;
  min-height: 192px;
}

.address{
  color: #000;
}

.address p{
  font-size: 22px;
  font-weight: 400;
}

.btn-submit{
  border-color: #44AFFE;
  background-color: #44AFFE;
}

.btn-submit:disabled{
  border-color: #E8E8E8;
  background-color: #E8E8E8;
}

.side-nav{
  background-color: rgba(255, 255, 255, .9)
}
