@import "/../../saas/variables";

nav{
  background-color: transparent;
  box-shadow: none;
  padding: 16px;
}

nav li{
  background-color: transparent !important;
}

nav li:hover a,
nav li:focus a{
  color: $main-dark-grey !important;
  transition: .3s;
}


.bg-top-image {
  position: fixed;
  top: 0;
  left: 0;
  background-size: cover;
  background: url("../../assets/img/eritis-mountain-bg-2.jpg") no-repeat center;
  height: 1000px;
  width: 100%;
  max-width: 100%;
  z-index: -10;
}

.bg-top-filter{
  position: fixed;
  top: 0;
  left: 0;
  background-color: $main-blue-filter;
  height: 1000px;
  width: 100%;
  max-width: 100%;
  z-index: -1;
}

.section{
  background-color: #FFF;
  padding: 0;
  width: 100%;
}

rb-signin{
  width: 30%;
}

@media(max-width: 960px){
  rb-signin{
    width: 80%;
  }
}

.desc_icon {
  width: 96px;
  height: 96px;
}

.content {
  flex-grow: 1;
}

.section_title{
  font-weight: 600;
  margin-bottom: 32px;
  margin-top: 0;
}

#presentation {
  background: $main-white-color;
}

.presentation_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2%;
  margin-top: 64px;
}

.presentation_item_title{
  height: 64px;
  color: #1D1D1D;
}

.presentation_item_text{
  color: $main-light-grey;
}

#coach_section {
  display: inline-block;
  background-color: $main-electric-blue;
  //background-image: linear-gradient(to top, #46b0ff, #0073cf);
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  color: $main-white-color;
  overflow: hidden;

  .btn-basic {
    min-width: 170px;
    margin: 8px 0;
  }
}

.coach_section_title {
  color: $main-white-color;
  margin-bottom: 32px;
}

.coach_section_subtitle {
  margin: 0;
  color: $main-ultra-light-grey;
}

.coach_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 2%;
  margin-top: 64px;
}

.coach_description h4{
  height: 72px;
}

.coach_description p{
  font-weight: 300;
  color: $main-ultra-light-grey;
}

.coach_img {
  height: 173px;
  width: 173px;
  background-size: cover;
}

.small-line-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.small-line{
  height: 1px;
  width: 180px;
  border: solid 1px rgba(255, 255, 255, 0.67);
}

footer {
  background-color: $main-white-color;
}

textarea{
  width: 100%;
  min-height: 192px;
}

.address p{
  font-weight: 400;
}

.btn-submit{
  border-color: #44AFFE;
  background-color: #44AFFE;
}

.btn-submit:disabled{
  border-color: #E8E8E8;
  background-color: #E8E8E8;
}

.side-nav{
  background-color: rgba(255, 255, 255, .9)
}
