<div class="content">

  <section id="presentation" class="section">
    <div class="container">
      <h2 class="text-center black-text section_title presentation_title">Construisez le coaching qui correspond à vos
        besoins</h2>
      <div class="row"
           ngsRevealSet
           [ngsSelector]="'.presentation_item'">
        <div class="col-sm-12 col-lg-4">
          <div class="presentation_item text-center">
            <img src="assets/img/todos.svg" class="desc_icon"/>
            <h4 class="black-text presentation_item_title">Définissez votre besoin​</h4>
            <p class="presentation_item_text">Utilisez l'outil de réservation et organisez votre séance de
              coaching.</p>
          </div>
        </div>

        <div class="col-sm-12 col-lg-4">
          <div class="presentation_item text-center">
            <img src="assets/img/confirm-user.svg" class="desc_icon"/>
            <h4 class="black-text presentation_item_title">Planifiez votre séance de coaching</h4>
            <p class="presentation_item_text">Connectez-vous sur votre plateforme pour votre séance de 45 min.</p>
          </div>
        </div>

        <div class="col-sm-12 col-lg-4">
          <div class="presentation_item text-center">
            <img src="assets/img/presentation.svg" class="desc_icon"/>
            <h4 class="black-text presentation_item_title">Suivez votre progression</h4>
            <p class="presentation_item_text">Chaque séance se conclut par un compte rendu avec un plan d'action.</p>
          </div>
        </div>
      </div> <!--end row-->
    </div> <!--end container-->
  </section> <!--end section-->


  <section id="coach_section" class="section">
    <div class="container">
      <h2 class="text-center section_title coach_section_title">Conçu par une équipe de coachs certifiés</h2>
      <h6 class="text-center coach_section_subtitle">
        Notre équipe de coachs expérimentés constitue un label de qualité
        sans équivalent sur le marché du coaching professionnel.
      </h6>

      <div class="small-line-container">
        <div class="small-line"></div>
      </div>

      <div class="row"
           [ngsRevealSet]="{duration: 800}"
           [ngsSelector]="'.coach_description'">
        <div class="col-sm-12 col-lg-4 coach_description">
          <img class="coach_img"
               src="https://static.wixstatic.com/media/04261a_d639816d3928429d8a34a774be2c77c2~mv2.png/v1/fill/w_298,h_298,al_c,usm_0.66_1.00_0.01/04261a_d639816d3928429d8a34a774be2c77c2~mv2.png">
          <h4>Etienne Roy</h4>
          <p>
            Depuis plus de 25 ans, j’accompagne des équipes dirigeantes, des dirigeants et des organisations dans des phases de changement.
            Ingénieur de formation, et DEA en sciences de gestion, mon parcours de coach est résolument orienté solutions !
          </p>
        </div>

        <div class="col-sm-12 col-lg-4 coach_description">
          <img class="coach_img"
               src="https://static.wixstatic.com/media/04261a_992204f8b935467e90154abc73a30105~mv2.png/v1/fill/w_298,h_298,al_c,lg_1/04261a_992204f8b935467e90154abc73a30105~mv2.png">
          <h4>Elaine Lecoeur</h4>
          <p>
            Canadienne, j'ai une vingtaine d'années d'expérience managériale et RH dans des grandes entreprises en transformation.
            J'interviens aujourd'hui sur les thématiques relationnelles de même que sur celles de l'agilité et du faire autrement dans des mondes contraints.
          </p>
        </div>

        <div class="col-xs-12 col-lg-4 coach_description">
          <img class="coach_img"
               src="https://static.wixstatic.com/media/04261a_c405cc6001b041b997493ad886d4781b~mv2.png/v1/fill/w_298,h_298,al_c,lg_1/04261a_c405cc6001b041b997493ad886d4781b~mv2.png">
          <h4>Annette Leclerc Vanel</h4>
          <p>
            Coach depuis 18 ans, après 20 années dans les métiers de services, je suis plus un bon supporter qu'un entraineur sportif : ferme dans le fond, souple dans la forme !
          </p>
        </div>
      </div><!--end row-->

      <div class="row hide-on-small-and-down">
        <div class="header-btn col-xs-12 col-sm-6">
          <a pageScroll href="#contact" class="btn-basic btn-small right">Contactez-nous</a>
        </div>
        <div class="header-btn col-xs-12 col-sm-6">
          <button class="btn-basic btn-plain btn-connexion btn-small left" (click)="goToCoachRegister()">Devenir coach</button>
        </div>
      </div>

      <div class="row hide-on-med-and-up">
        <div class="header-btn col-xs-12 col-sm-6">
          <a pageScroll href="#contact" class="btn-basic btn-small">Contactez-nous</a>
        </div>
        <div class="header-btn col-xs-12 col-sm-6">
          <button class="btn-basic btn-plain btn-connexion btn-small" (click)="goToCoachRegister()">Devenir coach</button>
        </div>
      </div>

    </div><!--end container-->
  </section><!--end section-->

</div><!--end content-->


<section class="footer section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-5"
           [ngsReveal]="{scale: 1, distance: 0, opacity: 0, duration: 1000}">
        <div class="black-text address">
          <h3>Eritis</h3>
          <p>
            78 Avenue de Saint-Mandé
            <br>75012 Paris, France
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-lg-7"
           [ngsReveal]="{origin: 'right', distance: '200px', opacity: 0}">
        <form [formGroup]="contactForm" (ngSubmit)="onContactSubmit()">
          <div class="input_field">
            <label for="name">Nom</label>
            <input type="text" name="name" id="name" formControlName="name" placeholder="Nom">
          </div>
          <br>
          <div class="input_field">
            <label for="mail">Adresse Mail</label>
            <input type="text" name="mail" id="mail" formControlName="mail" placeholder="exemple@mail.com">
          </div>
          <br>
          <div class="input_field">
            <label for="message">Message</label>
            <textarea name="message" class="materialize-textarea" id="message" formControlName="message" placeholder="Message..."></textarea>
          </div>
          <div class="input_field text-right">
            <button type="submit" name="submit" class="btn-basic btn-small btn-submit" [disabled]="!contactForm.valid">Envoyer
            </button>
          </div>
        </form>

      </div>
    </div><!--end row-->
  </div><!--end container-->
</section>

<rb-footer></rb-footer>

<script type="text/javascript">
  $('.navbar-fixed').hide();
</script>
