
<div class="container" [ngsReveal]="{origin: 'left', distance: '100px', scale: 1, delay: 200, duration: 1000}">
  <div class="row">
    <div class="col s12">

      <div class="row">
        <h4 class="col-lg-12 black-text">Demandes en attente</h4>
        <div class="card collection col-lg-12">

          <div *ifLoader="loading">
            <div *ngIf="hasAvailableMeetings">
              <div class="collection-item" *ngFor="let meeting of availableMeetings | async">
                <rb-meeting-item-coach [meeting]="meeting"
                                       (onValidateDateBtnClick)="openCoachValidateMeetingModal($event)">
                </rb-meeting-item-coach>
              </div>
            </div>

            <div *ngIf="!hasAvailableMeetings" class="collection-item text-center">
              <h5 class="no-meeting">Les demandes disponibles apparaîtront ici</h5>
            </div>
          </div>

          <!--<button (click)="onSelectMeetingBtnClicked(meeting)">Select</button>-->

        </div><!--end card-->
      </div>
    </div>
  </div>
</div>

<!-- Modal Coach Validate Meeting -->
<div id="coach_cancel_meeting" class="modal">
  <div class="action-modal-content">
    <div class="daction-modal-message">
      <h5 class="black-text center">Vous ne pourrez pas annuler ce meeting, êtes-vous sûr de vouloir valider ce créneau ?</h5>
    </div>
    <div class="action-modal-footer">
      <button class="btn-basic btn-blue btn-small" (click)="cancelCoachValidateMeeting()">Annuler</button>
      <button class="btn-basic btn-blue btn-plain btn-small" (click)="onSubmitValidateMeeting()">Valider</button>
    </div>
  </div>
</div>
