<!--<div class="list-group-item clearfix">-->

  <!--<div class="pull-left">-->
    <!--<h4 class="list-group-item-heading">{{coach.display_name}}</h4>-->
    <!--&lt;!&ndash;<p class="list-group-item-text">{{coach.display_name}}</p>&ndash;&gt;-->
  <!--</div>-->

  <!--<span class="pull-right">-->
      <!--<img class="img-responsive"-->
           <!--src="{{coach.avatar_url}}"-->
           <!--style="max-height: 50px;"/>-->
    <!--</span>-->
<!--</div>-->



<li class="collection-item avatar">
  <img   src="{{coach.avatar_url}}" alt="" class="circle">
  <span class="title">{{coach.display_name}}</span>
  <!--<p>First Line-->
    <!--<br> Second Line <span class="badge">1</span>-->
  <!--</p>-->

</li>
