<div class="meeting-item col-lg-12" [class.closed]="!meeting.isOpen" [class.unbooked]="!meeting.agreed_date">

  <div class="row" *ifLoader="loading">

    <!-- COACHEE -->
    <div class="meeting-item-header col-md-12 col-lg-5">
      <div>

        <div class="meeting-item-coach has-coach" (click)="goToCoacheeProfile(meeting.coachee.id)">
          <div>
            <!-- image coachee-->
            <div class="meeting-item-coach-avatar avatar"
                 [style.background-image]="'url(' + meeting.coachee.avatar_url + ')'"></div>
          </div>

          <div>
            <p class="meeting-item-coach-name black-text bold">{{ meeting.coachee.first_name }} {{
              meeting.coachee.last_name}}</p>
            <span class="italic">{{ meeting.coachee.associatedRh.company_name }}</span>
          </div>
        </div>

        <!-- DATE -->
        <div class="meeting-item-date" *ngIf="meeting.agreed_date">
          <span class="meeting-item-date-date">{{ getDate(meeting.agreed_date.start_date) }}</span>
          <span class="meeting-item-date-hour">{{ printTimeString(meeting.agreed_date.start_date) }}</span>
        </div>

        <div class="meeting-item-date" *ngIf="!meeting.agreed_date">
          <span class="meeting-item-date-date">{{ getDate(meeting.created_date) }}</span>
          <span class="meeting-item-date-hour">{{ printTimeString(meeting.created_date) }}</span>
        </div>
      </div>
    </div>

    <!-- GOAL & REVIEW -->
    <div class="meeting-item-body col-md-12 col-lg-7">
      <div class="meeting-item-body-content">
        <p><span class="black-text bold">Contexte</span><br> {{ (context | async) }}</p>
        <br>
        <p class="meeting-item-goal">
          <span class="black-text bold">Objectif de la séance</span><br>
          <span *ngIf="hasGoal">{{(goal | async)}}</span>
          <span *ngIf="!hasGoal" class="red-text">Pas encore défini...</span>
        </p>
        <br>
        <p>
          <span class="black-text bold">Objectif donné par le RH</span><br>
          <span *ngIf="meeting.coachee.last_objective != null">{{ meeting.coachee.last_objective.objective }}</span>
          <span *ngIf="meeting.coachee.last_objective == null">n/a</span>
        </p>


        <!--Complétées-->
        <div *ngIf="!meeting.isOpen" class="meeting-review">
          <div *ngIf="hasValue && hasNextStep">
            <br>
            <p><span class="black-text bold">Avec quoi êtes vous reparti ? </span><br>{{ reviewNextStep }}</p>
            <br>
            <p><span class="black-text bold">En quoi la séance a-t-elle été utile ? </span><br>{{ reviewValue }}</p>
          </div>
          <br>
          <div *ngIf="hasRate">
            <p><span class="black-text bold">Vous avez reçu la note de :</span></p>

            <br>

            <div class="ratebar center">
              <div class="rate-star" [class.selected]="sessionRate > 0">
                <i class="material-icons star">star</i>
              </div>
              <div class="rate-star" [class.selected]="sessionRate > 1">
                <i class="material-icons star">star</i>
              </div>
              <div class="rate-star" [class.selected]="sessionRate > 2">
                <i class="material-icons star">star</i>
              </div>
              <div class="rate-star" [class.selected]="sessionRate > 3">
                <i class="material-icons star">star</i>
              </div>
              <div class="rate-star" [class.selected]="sessionRate > 4">
                <i class="material-icons star">star</i>
              </div>
            </div>
          </div> <!--rate end-->


        </div><!--end meeting-review-->

        <!--Demandes disponibles-->
        <div *ngIf="!meeting.agreed_date" class="meeting-review">
          <div>
            <br>
            <p><span class="black-text bold">Disponibilités :</span></p>
            <div class="meeting-potential" *ngFor="let potential of potentialDates | async">
              <span class="meeting-potential-date">{{ getDate(potential.start_date) }}</span>
              <span class="meeting-potential-hours">{{ printTimeString(potential.start_date) }} - {{ printTimeString(potential.end_date) }}</span>
            </div>
            <br>
            <form class="confirm-meeting-form">
              <!--<span class="black-text bold">Réponse :</span>-->
              <div class="input-field">
                <select [(ngModel)]="selectedDate" name="meeting-date" class="browser-default"
                        (change)="loadPotentialHours(selectedDate)">
                  <option value="0" disabled selected>Date</option>
                  <option *ngFor="let d of potentialDays | async" [ngValue]=" d ">
                    {{ getDate(d) }}
                  </option>
                </select>
              </div>
              <div class="input-field">
                <select [(ngModel)]="selectedHour" name="meeting-hour" class="browser-default"
                        materialize="material_select">
                  <option value="0" disabled selected>Heure</option>
                  <option *ngFor="let h of potentialHours | async" [ngValue]="h">
                    {{ printTimeNumber(h) }} - {{ printTimeNumber(h+1) }}
                  </option>
                </select>
              </div>
            </form>
          </div>
        </div><!--end meeting-review-->
      </div>

      <div class="meeting-item-body-buttons" *ngIf="meeting.isOpen">
        <button type="submit" class="btn-basic btn-blue btn-plain btn-small"
                *ngIf="!meeting.agreed_date"
                [disabled]="!selectedDate || !selectedHour"
                (click)="onValidateDateClick()">Coacher
        </button>

        <button type="submit" class="btn-basic btn-blue btn-plain btn-small"
                *ngIf="meeting.agreed_date"
                (click)="onCloseMeetingBtnClick()">Clore
        </button>
      </div>
    </div><!--end meeting-item-body-->

  </div><!--end row-->

</div><!--end meeting-item-->

