<er-simple-header></er-simple-header>

<div class="container" [ngsReveal]="{origin: 'left', distance: '100px', scale: 1, delay: 200, duration: 1000}">
  <div id="introduction">
    <h1 class="black-text text-center">Mentions légales</h1>
    <br>
    <h3 class="black-text">Informations éditeurs</h3>
    <p>
      Ce site est édité par Eritis, Société par Actions Simplifiées.
      <br>78 avenue de Saint Mandé
      <br>75012 Paris
      <br>FRANCE
      <br>+33 6 80 94 56 83
      <br>
      <br>RCS : 830 433 280 Paris
      <br>Montant du capital social : 1,000.00€
      <br>Directeur de la publication : Theo Marcolini
    </p>

    <h3 class="black-text">Informations hébergeur</h3>
    <p>
      Google Ireland Limited,
      <br>Gordon House,
      <br>Barrow Street,
      <br>Dublin 4
      <br>IRLANDE
      <br>+353 1 543 1004
    </p>

  </div>
</div>
