<div id="main_container">

  <div class="section">
    <div class="row">
      <div class="col s12 m12 l6">
        <div class="card-panel">
          <h4 class="header2">S'inscrire</h4>
          <div class="row">
            <form class="col s12" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmitted()">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="email" formControlName="email">
                  <label for="email">Email</label>
                  <small
                    *ngIf="!signUpForm.controls['email'].pristine &&!signUpForm.controls['email'].valid"
                    class="text-danger">
                    Email is required and format should be <i>john@doe.com</i>.
                  </small>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" formControlName="password">
                  <label for="password">Password</label>
                  <small class="text-danger"
                         *ngIf="!signUpForm.controls['password'].pristine && !signUpForm.controls['password'].valid">
                    Password must be at least 6 characters.
                  </small>
                </div>
              </div>

              <div class="row">
                <div class="input-field col s12">
                  <input id="confirm_password" type="password" formControlName="confirmPassword">
                  <label for="confirm_password">Confirm Password</label>
                  <small class="text-danger"
                         *ngIf="!signUpForm.controls['confirmPassword'].pristine && signUpForm.controls['confirmPassword'].errors && signUpForm.controls['confirmPassword'].errors['passwordNoMatch']">
                    Confirm Password is incorrect
                  </small>
                </div>
              </div>

              <!--<p>-->
                <!--<input type="checkbox" id="status" [(ngModel)]="checked" formControlName="status"/>-->
                <!--<label for="status">Are you a coach ?</label>-->
              <!--</p>-->

              <div class="row">
                <div class="input-field col s12">
                  <button class="btn cyan waves-effect waves-light right" type="submit" name="action"
                          [disabled]="!signUpForm.valid">Submit
                    <i class="mdi-content-send right"></i>
                  </button>
                </div>
              </div>


              <!-- sign up error div-->

              <div *ngIf="error && errorMessage != ''">

                <!-- add extra separator-->
                <hr>

                <small class="text-danger">
                  {{errorMessage}}
                </small>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="input-field">
    <select [(ngModel)]="signUpSelectedType" name="signup_type_selector" class="browser-default">
      <option value="" disabled selected>Sélectionnez un Type</option>
      <option *ngFor="let type of signUpTypes" [ngValue]="type">
        {{ getSignUpTypeName(type) }}
      </option>
    </select>
  </div>

  <div *ngFor="let plan of plans | async" (click)="onSelectPlan(plan)"  [class.contract_selected]="plan == mSelectedPlan">
    Plan id : {{plan.plan_id}}
    Plan Name : {{plan.plan_name}}
    Plan Sessions count : {{plan.sessions_count}}
  </div>


</div>
