<div class="meeting-item col-lg-12" (click)="toggleShowDetails()">

  <div class="preloader-wrapper active" *ngIf="loading">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading">

    <!-- COACHEE -->
    <div *ngIf="coachee != null" class="row">
      <div class="meeting-item-header col-md-12 col-lg-5">
        <div>
          <div class="meeting-item-coach">
            <div>
              <!-- image coachee -->
              <img class="meeting-item-coach-avatar circle img-responsive" alt="coachee" [src]="coachee.avatar_url">
            </div>

            <div>
              <p class="meeting-item-coach black-text bold">{{ coachee.firstName}} {{ coachee.lastName}}</p>
              <p class="italic">Inscrit le {{ printDateString(coachee.start_date) }}</p>
            </div>
          </div>

          <!--USAGE-->
          <div class="meeting-item-date">
            <div class="meeting-item-date-date">
              <span class="usage-title">Utilisation: </span>
              <span class="blue-text">{{ (coacheeUsageRate | async)?.usage_rate}}%</span>
            </div>
          </div>
        </div>
      </div>

      <!-- GOAL -->
      <div class="meeting-item-body col-md-12 col-lg-7">
        <div class="meeting-item-body-content">
          <p class="meeting-item-goal">
            <span class="black-text bold">Objectif de développement</span><br>
            <span *ngIf="coachee.last_objective">{{ coachee.last_objective.objective }}</span>
            <span *ngIf="!coachee.last_objective">n/a</span>
          </p>
        </div>

        <div class="meeting-item-body-buttons">
          <button class="btn-basic btn-blue btn-plain btn-small" (click)="onClickAddObjectiveBtn()"
                  *ngIf="!coachee.last_objective">
            Ajouter un objectif
          </button>
          <button class="btn-basic btn-blue btn-plain btn-small" (click)="onClickAddObjectiveBtn()"
                  *ngIf="coachee.last_objective">
            Modifier l'objectif
          </button>
        </div>
      </div><!--end meeting-item-body-->

      <div *ngIf="showDetails" class="meeting-review">
        <div>
          <h5><span class="blue-text">{{ coachee.plan.sessions_count }}</span> séances/mois</h5>
          <br>
          <div *ngIf="!hasBookedMeeting"><p>Pas encore de séance réalisée</p><br></div>
          <div *ngIf="hasBookedMeeting">
            <div *ngFor="let meeting of (meetings | async)">
              <div class="row">
                <div class=" col-md-3">
                  <span class="meeting-list-date">{{ printDateString(meeting.agreed_date.start_date) }}</span>
                </div>
                <div class="col-md-9">
                  <span class="black-text bold">Objectif de la séance: </span>
                  <span>{{ goals[meeting.id] }}</span>
                </div>
              </div>
              <br>
            </div><!--enf ngFor-->
          </div><!--end ngIf-->
        </div>
      </div><!--end meeting-review-->

    </div><!--end coachee-->

    <!-- POTENTIAL COACHEE -->
    <div *ngIf="potentialCoachee != null" class="row">
      <div class="meeting-item-header col-lg-12">
        <div>
          <div class="meeting-item-coach">
            <div>
              <!-- image coachee -->
              <img class="meeting-item-coach-avatar circle img-responsive" alt="potentialCoachee"
                   src="https://s-media-cache-ak0.pinimg.com/originals/af/25/49/af25490494d3338afef00869c59fdd37.png">
            </div>

            <div>
              <p class="meeting-item-coach">{{ potentialCoachee.email }}</p>
            </div>
          </div>

          <!-- PLAN -->
          <div class="meeting-item-date">
            <span class="meeting-item-date-date"><span class="blue-text">{{ potentialCoachee.plan.sessions_count }}</span> séances</span>
          </div>
        </div>
      </div>
    </div><!--end potentialCoachee-->

  </div><!--end row-->

</div><!--end meeting-item-->
