@import "../../meeting-list.component";

.meeting-list-date {
  font-size: 20px;
  font-weight: 500;
  margin-right: 8px;
}

.meeting-item-date {
  margin-top: 0;
}

.meeting-item-body-content {
  padding: 12px 0;
}

.ratebar-mini {
  margin-left: 4px;
  display: inline-block;
}
