<er-profile-header [user]="coachee" [isOwner]="isOwner"></er-profile-header>

<div class="container" *ifLoader="loading" [ngsReveal]="{scale:1, opacity:0, distance:0, duration: 1000}">
  <h4 class="text-right"><span class="blue-text">{{(coachee | async)?.plan.sessions_count}}</span> séances / mois</h4>
  <h5 class="text-right italic" *ngIf="(coachee | async)?.last_objective == null">Aucun objectif personnel défini</h5>
  <h5 class="text-right italic" *ngIf="(coachee | async)?.last_objective != null">Objectif fixé avec votre RH:
    "{{ (coachee | async)?.last_objective.objective }}"
  </h5>
  <br>

  <div *ngIf="isOwner">
    <h4 class="black-text">Mettre à jour votre profil</h4>
    <br>

    <form [formGroup]="formCoachee" (ngSubmit)="submitCoacheeProfilUpdate()">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <label for="edit_name">Prénom</label>
              <input id="edit_name" type="text" class="validate"
                     formControlName="firstName"
                     placeholder="Prénom">
            </div>

            <div class="col-lg-12">
              <label for="edit_surname">Nom</label>
              <input id="edit_surname" type="text" class="validate"
                     formControlName="lastName"
                     placeholder="Nom">
            </div>
          </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-5">
          <label>Photo de profil</label>
          <div class="row avatar-container">
            <!--<img [src]="formCoachee.value.avatar" alt="profile image"-->
            <!--id="avatar-preview"-->
            <!--class="circle responsive-img z-depth-2">-->
            <div id="avatar-preview"
                 class="avatar z-depth-2"
                 [style.background-image]="'url(' + (coachee | async)?.avatar_url + ')'"></div>

            <!--<input id="edit_avatar_url" type="text" class="validate"-->
            <!--formControlName="avatar"-->
            <!--placeholder="http://...">-->
            <div class="input-file-container">
              <button class="btn-basic btn-blue btn-plain btn-small file-upload-buton">Choisir un fichier</button>
              <input type="file"
                     id="upload-avatar-input"
                     accept=".jpeg,.jpg,.png"
                     (change)="filePreview($event)">
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <br>

        <button *ngIf="!updateUserLoading"
                type="submit"
                class="btn-basic btn-plain btn-blue btn-small"
                [disabled]="!formCoachee.valid">
          Enregistrer
        </button>

        <div class="preloader-wrapper active" *ngIf="updateUserLoading">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>

</div>


