@import "../../../../saas/variables";

#introduction {
  max-width: 1080px;
  margin: auto;
  box-sizing: border-box;
}

.introduction-text {
  font-size: 18px;

  ol {
    list-style-type: disc !important;
  }

  a{
    color: $main-electric-blue;
  }
}
