@import "../../../../saas/variables";

#introduction,
#code-deontologie,
#registerForm{
  max-width: 1080px;
  margin: auto;
  box-sizing: border-box;
}

.introduction-text {
  font-size: 18px;

  ol {
    list-style-type: disc !important;
  }

  a{
    color: $main-electric-blue;
  }
}

.input-file-container {
  margin: 16px 0;
  position: relative;
}

.input-file-container:hover {
  .file-upload-buton {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}

input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  padding: 8px;
  opacity: .01;
  cursor: pointer;
  max-width: 170px;
}

#avatar-preview {
  height: 150px;
  width: 150px;
  margin-right: 16px;
}

textarea {
  min-height: 150px;
}

.input-container {
  margin-top: 16px;
}
