<div class="meeting-item col-lg-12">

  <div class="preloader-wrapper active" *ngIf="loading">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div>
      <div class="gap-patch">
        <div class="circle"></div>
      </div>
      <div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading">

    <!-- COACHEE -->
    <div class="row">
      <div class="meeting-item-header col-md-12 col-lg-6">
        <div>
          <div class="meeting-item-coach has-coach" (click)="goToCoacheeProfile(coachee.id)">
            <div>
              <!-- image coachee -->
              <!--<img class="meeting-item-coach-avatar circle img-responsive" alt="coachee" [src]="coachee.avatar_url">-->
              <div class="meeting-item-coach-avatar avatar"
                   [style.background-image]="'url(' + coachee.avatar_url + ')'"></div>
            </div>

            <div>
              <p class="meeting-item-coach-name black-text bold">{{ coachee.firstName}} {{ coachee.lastName}}</p>
              <span class="italic">{{ coachee.email }}</span>
            </div>
          </div>

          <!-- PLAN -->
          <div class="meeting-item-date">
            <span class="meeting-item-date-date"><span class="blue-text">{{ coachee.plan.sessions_count }}</span> séances</span>
          </div>
          <!--USAGE-->
          <!--<div class="meeting-item-date">-->
            <!--<div class="meeting-item-date-date">-->
              <!--<p class="italic">Inscrit le {{ printDateString(coachee.start_date) }}</p>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>

      <!-- GOAL -->
      <div class="meeting-item-body col-md-12 col-lg-6">
        <div class="meeting-item-body-content">
          <span>Inscrit le {{ printDateString(coachee.start_date) }}</span>
        </div>

        <!--<div class="meeting-item-body-buttons">-->
          <!--<button class="btn-basic btn-blue btn-plain btn-small" (click)="onClickAddObjectiveBtn()"-->
                  <!--*ngIf="!coachee.last_objective">-->
            <!--Ajouter un objectif-->
          <!--</button>-->
          <!--<button class="btn-basic btn-blue btn-plain btn-small" (click)="onClickAddObjectiveBtn()"-->
                  <!--*ngIf="coachee.last_objective">-->
            <!--Modifier l'objectif-->
          <!--</button>-->
        <!--</div>-->
      </div><!--end meeting-item-body-->

      <!--<div *ngIf="showDetails" class="meeting-review">-->
        <!--<div>-->
          <!--<h5><span class="blue-text">{{ coachee.plan.sessions_count }}</span> séances/mois</h5>-->
          <!--<br>-->
          <!--<div *ngIf="!hasBookedMeeting"><p>Pas encore de séance réalisée</p><br></div>-->
          <!--<div *ngIf="hasBookedMeeting">-->
            <!--<div *ngFor="let meeting of (meetings | async)">-->
              <!--<div class="row">-->
                <!--<div class=" col-md-3">-->
                  <!--<span class="meeting-list-date">{{ printDateString(meeting.agreed_date.start_date) }}</span>-->
                <!--</div>-->
                <!--<div class="col-md-9">-->
                  <!--<span class="black-text bold">Objectif de la séance: </span>-->
                  <!--<span>{{ goals[meeting.id] }}</span>-->
                <!--</div>-->
              <!--</div>-->
              <!--<br>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>&lt;!&ndash;end meeting-review&ndash;&gt;-->

    </div><!--end coachee-->

  </div><!--end row-->

</div><!--end meeting-item-->
