<er-simple-header></er-simple-header>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l6">
      <div>
        <h4 class="black-text">Bienvenue chez Eritis</h4>
        <div class="row">
          <form class="col s12" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmitted()">
            <div class="row">
              <div class="col s12">
                <p>Votre email {{ (potentialCoachObs | async)?.email }}</p>
              </div>
            </div>

            <p>Choississez un mot de passe pour finaliser votre inscription.</p>

            <div class="row">
              <div class="col s12">
                <label for="password">Password</label>
                <input id="password" type="password" formControlName="password">
                <small class="text-danger"
                       *ngIf="!signUpForm.controls['password'].pristine && !signUpForm.controls['password'].valid">
                  Votre mot de passe doit contenir au moins 6 caractères.
                </small>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <label for="confirm_password">Confirm Password</label>
                <input id="confirm_password" type="password" formControlName="confirmPassword">
                <small class="text-danger"
                       *ngIf="!signUpForm.controls['confirmPassword'].pristine && signUpForm.controls['confirmPassword'].errors && signUpForm.controls['confirmPassword'].errors['passwordNoMatch']">
                  Confirmation incorrecte.
                </small>
              </div>
            </div>

            <div class="row">
              <div class="col s12">
                <button class="btn-basic btn-blue btn-small btn-plain right" type="submit" name="action"
                        [disabled]="!signUpForm.valid">Valider
                </button>
              </div>
            </div>


            <!-- sign up error div-->

            <div *ngIf="error && errorMessage != ''">

              <!-- add extra separator-->
              <hr>

              <small class="text-danger">
                {{errorMessage}}
              </small>
            </div>

          </form>
        </div>
      </div><!--end card panel-->
    </div>
  </div><!--end row-->
</div><!--end section-->
