<div class="header-user" [ngsReveal]="{scale:1, origin: 'top', distance:'200px', duration: 500}">
  <div class="header-user-filter">
    <div class="container row">

      <div class="user col-lg-5">
        <button class="btn-back" (click)="goToPossibleCoachsAdmin()">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>

        <div class="user-img avatar z-depth-2"
             *ngIf="(possibleCoach | async)?.avatar_url != null"
             [style.background-image]="'url(' + (possibleCoach | async)?.avatar_url + ')'"></div>

        <div class="user-info">
          <h5>{{(possibleCoach | async)?.first_name}} {{(possibleCoach | async)?.last_name}}</h5>
          <p class="light-grey-text">{{(possibleCoach | async)?.email}}</p>
        </div>
      </div>

      <div class="header-stats col-lg-7">

      </div>

    </div>
  </div>
</div>

<div class="container" *ifLoader="loading" [ngsReveal]="{scale:1, opacity:0, distance:0, duration: 1000}">

  <div class="row">

    <div class="col-lg-12">

      <div class="row">
        <div class="col-lg-12">
          <label>Description</label>
          <p>{{ (possibleCoach | async)?.description }}</p>
        </div>
      </div>

      <div class="row">
        <div class="center col-lg-12">
          <a target="_blank" class="btn-basic btn-blue btn-plain btn-small"
             [href]="(possibleCoach | async)?.linkedin_url"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Langue(s) pratiquée(s) en coaching ?</label>
          <p>{{ (possibleCoach | async)?.languages }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Quelques éléments de parcours professionnel?</label>
          <p>{{ (possibleCoach | async)?.career }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Quelles activités exercez-vous autres que le coaching individuel ?</label>
          <p>{{ (possibleCoach | async)?.extraActivities }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Vos diplômes, certifications, référencements, accréditations dans le domaine du coaching ?</label>
          <p>{{ (possibleCoach | async)?.degree }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Depuis combien de temps exercez-vous une activité de coaching individuel, et combien d’heures
            avez-vous déjà réalisées ?</label>
          <p>{{ (possibleCoach | async)?.experience_coaching }}</p>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Quelles sont vos expériences en coaching à distance, visio, skype ?</label>
          <p>{{ (possibleCoach | async)?.experience_remote_coaching }}</p>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Quelles sont vos expériences en coaching bref sur 45 minutes ?</label>
          <p>{{ (possibleCoach | async)?.experienceShortSession }}</p>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Des spécialités, des spécificités dans les situations de coaching que vous réalisez?</label>
          <p>{{ (possibleCoach | async)?.coachingSpecifics }}</p>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Quel est votre dispositif de supervision ?</label>
          <p>{{ (possibleCoach | async)?.supervisor }}</p>

        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Quelques éléments de votre parcours de développement personnel/ thérapie ?</label>
          <p>{{ (possibleCoach | async)?.therapyElements }}</p>

        </div>
      </div>


      <div class="row">
        <div class="col-lg-12">
          <label>Quel est votre chiffre d'affaires sur les 3 dernières années ?</label>
          <p>{{ (possibleCoach | async)?.revenues_last_3_years }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Quelle est la part de votre CA en coaching individuel ?</label>
          <p>{{ (possibleCoach | async)?.percentage_coaching_in_revenue }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Quel est votre statut juridique?</label>
          <p>{{ (possibleCoach | async)?.legal_status }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label>Avez-vous une copie de votre assurance RC Pro ?</label><br>
          <p><a [href]="(possibleCoach | async)?.insurance_url">Contrat d'assurance</a></p>
          <br>
        </div>
      </div>

      <h2 class="row section-form-title">Coordonnées de facturation</h2>

      <div class="row">
        <div class="col-lg-12 input-container">
          <p class="black-text">{{ (possibleCoach | async)?.invoice_entity }}</p>
          <p class="black-text">{{ (possibleCoach | async)?.invoice_siret_number }}</p>
          <p class="black-text">{{ (possibleCoach | async)?.invoice_address }}</p>
          <p class="black-text">{{ (possibleCoach | async)?.invoice_city }}</p>
          <p class="black-text">{{ (possibleCoach | async)?.invoice_postcode }}</p>
        </div>
      </div>


    </div>

    <div class=" col-lg-12 text-center input-container">
      <br>
      <button class="btn-basic btn-blue btn-plain btn-small"
              *ngIf="!(possibleCoach | async)?.invite_sent"
              (click)="sendInvite()">Envoyer une invitation
      </button>
      <button class="btn-basic btn-small"
              *ngIf="(possibleCoach | async)?.invite_sent"
              disabled>En attente...
      </button>
    </div>

  </div><!--end row>-->

</div>
