<div class="container">

  <h4>Liste des coachs</h4>

  <div class="row">
    <rb-coach-item class="col-xs-12" *ngFor="let coach of coachs | async" [coach]="coach"
                   (click)="onCoachSelected(coach)" [class.selected]="coach == selectedCoach"></rb-coach-item>
  </div>


  <h4>Liste des coachés en attente de coach</h4>

  <div class="row">
    <div class="col-xs-12" *ngFor="let coachee of coachees | async"
         (click)="onCoacheeSelected(coachee)">

      <div class="container" >
        <div class="row coach_card">

          <div class="col s12" style="padding: 16px" [class.selected]="coachee == selectedCoachee">

            <span>{{coachee.display_name}}</span>
            <img style="width: 30px;height: 30px" src="{{coachee.avatar_url}}" alt="">

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class="btn-basic btn-blue" (click)="associate()" [disabled]="!canAssociate()">Associer</button>
    </div>
  </div>

</div>

