/*!* You can add global styles to this file, and also import other style files *!*/
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/

/* A revoir car provoque une erreur (empeche la première règle d'être prise en compte) */
/*node_modules/angular-calendar/dist/css/angular-calendar.css*/

/*--main-header-color: #002D50;*/
@import "./saas/variables";

html, body{
  height: 100%;
  color: $main-font-grey;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
}

body{
  background-color: $main-white-color;
}

/* make sure containers are below the navbar */
body .container {
  padding: 96px 0;
}

.recipes_grid {
  height: 100%;
  width: 100%;
  background: #e7e7e7;
}

/*md-card {*/
/*margin: 1em;*/
/*}*/

.recipe_item_img {
  height: 50px;
  width: 50px;
}

a{
  text-decoration: none !important;
  cursor: pointer;
}

a:hover,
a:focus{
  color: $main-electric-blue !important;
}

.container{
  max-width: 80% !important;
}

.btn-basic{
  display: inline-block;
  border-radius: 64px;
  background-color: transparent;
  border: solid 2px $main-white-color;
  color: $main-white-color;
  font-size: 25px;
  padding: 16px 16px;
  /*margin-top: 32px;*/
  text-align: center;
  vertical-align: baseline;
  transition: .3s;
  min-width: 200px;
}

.btn-basic:disabled{
  background-color: $main-light-grey !important;
  border-color:  $main-light-grey !important;
  box-shadow: none !important;
  color: #FFF !important;
}

.btn-basic:hover,
.btn-basic:focus,
.btn-plain{
  background-color: $main-white-color;
  color: $main-dark-grey;
}

.btn-basic:hover{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-basic.btn-blue{
  background-color: transparent;
  border-color: $main-electric-blue;
  color: $main-electric-blue;
}

.btn-basic.btn-red{
  background-color: transparent;
  border-color: $main-red-color;
  color: $main-red-color;
}

.btn-basic.btn-green{
  background-color: transparent;
  border-color: $main-light-green;
  color: $main-light-green;
}

.btn-plain.btn-red,
.btn-red:hover,
.btn-red:focus{
  background-color: $main-red-color;
  border-color: $main-red-color;
  color: #FFF;
}

.btn-plain.btn-blue,
.btn-blue:hover,
.btn-blue:focus{
  background-color: $main-electric-blue;
  border-color: $main-electric-blue;
  color: #fff;
}

.btn-plain.btn-green,
.btn-green:hover,
.btn-green:focus{
  background-color: $main-light-green;
  border-color: $main-light-green;
  color: #fff;
}

.btn-small{
  padding: 4px 16px;
  font-size: 16px;
  min-width: 120px;
  min-height: 40px;
}

.btn-cancel {
  border-radius: 100%;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  min-width: auto;
  border-color: $main-light-grey;
  color: $main-light-grey;
}

.btn-cancel:hover,
.btn-cancel:focus {
  background-color: $main-light-grey;
  color: #FFF;
}

.black-text{
  color: $main-dark-grey !important;
}

.red-text{
  color: $main-red-color !important;
}

.blue-text{
  color: $main-electric-blue !important;
}

.light-grey-text{
  color: $main-light-grey !important;
}

.ultra-light-grey-text{
  color: $main-ultra-light-grey !important;
}

.bold{
  font-weight: bold;
}

.italic {
  font-style: italic;
}

label,
label.active{
  color: $main-dark-grey;
  font-size: 18px;
  font-weight: 500;
}

input[type="text"],
input[type="text"]:focus:not([readonly]),
input[type="password"],
input[type="password"]:focus:not([readonly]),
input[type="email"],
input[type="email"]:focus:not([readonly]),
textarea,
textarea:focus:not([readonly]){
  border: none !important;
  box-shadow: none !important;
  box-sizing: border-box !important;
  background-color: $main-ultra-light-grey !important;
  border-radius: 8px !important;
  padding: 16px !important;
}

/* Permet d'aligner les icon material avec le texte */
.material-icons{
  display: inline-block !important;
  vertical-align: middle;
}

p-slider .ui-slider{
  width: 100% !important;
  margin: 64px 0;
  background-color: $main-light-grey;
  box-shadow: none !important;
}

p-slider .ui-slider-range{
  background-color: $main-electric-blue;
}

p-slider .ui-slider span{
  box-shadow: none !important;
}

p-slider .ui-slider .ui-slider-handle,
p-slider .ui-slider-horizontal .ui-slider-handle{
  width: 21px !important;
  height: 21px !important;
  top: -7px !important;
  background: $main-electric-blue !important;
  border-radius: 100%;
}

p-slider .ui-slider-handle:hover{
  cursor: pointer;
}



/* Datepicker */
ngb-datepicker{
  border: none !important;
}

ngb-datepicker-month-view{
  padding: 16px;
}

ngb-datepicker .ngb-dp-header{
  height: 60px;
  border: none !important;
}

ngb-datepicker .ngb-dp-month-name{
  color: #FFF;
  font-weight: 700;
  margin: 12px 0;
}

ngb-datepicker .ngb-dp-weekday{
  color: #000 !important;
  font-style: normal !important;
  font-weight: 600;
  margin: 8px;
}

ngb-datepicker .ngb-dp-day{
  margin: 8px;
  text-align: center;
}

ngb-datepicker .bg-faded{
  background-color: $main-dark-blue;
}

ngb-datepicker .btn-link,
ngb-datepicker .btn-link:focus{
  color: #FFF;
  margin: 12px 16px;
}

ngb-datepicker .btn-link:hover{
  color: $main-light-grey;
}

.add-meeting-btn{
  background-color: var(--main-electric-blue) !important;
  margin-left: 16px;
}

/* Delete Meeting Modal */
.modal {
  max-width: 90%;
}

.action-modal-content {
  padding: 32px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.action-modal-message {
  text-align: left;
}

.action-modal-footer button {
  margin: 0 8px !important;
  margin-top: 16px !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $main-electric-blue;
}

.select-wrapper input.select-dropdown {
  color: $main-electric-blue;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  border: none;
  margin: 0;
}
