/*!* You can add global styles to this file, and also import other style files *!*/
/*@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';*/

/* A revoir car provoque une erreur (empeche la première règle d'être prise en compte) */
/*node_modules/angular-calendar/dist/css/angular-calendar.css*/

:root {
  /*--main-header-color: #002D50;*/
  --main-header-color: rgba(0, 72, 129, 0.6);
  --main-bg-color: #C3D9E8;
  --main-white-color: #ffffff;
  --main-white-color--hover: #5e5e5e;
  --main-dark-grey: #3E3E3E;
  --main-font-grey: #7D7D7D;
  --main-light-grey: #C7C7C7;
  --main-electric-blue: #46b0ff;
  --main-dark-blue: #235880;
  --main-blue-filter: rgba(35, 88, 128, 0.6);
  --main-red-color: #ff4545;
  --main-light-green: #3df5d1;
}

html, body{
  height: 100%;
  color: var(--main-font-grey);
  font-family: Roboto, sans-serif;
}

body{
  background-color: var(--main-white-color);
}

/* make sure containers are below the navbar */
body .container {
  padding: 96px 0;
}

.side-nav{
  background-color: rgba(255, 255, 255, .9);
  color: var(--main-dark-grey);
}

.recipes_grid {
  height: 100%;
  width: 100%;
  background: #e7e7e7;
}

/*md-card {*/
  /*margin: 1em;*/
/*}*/

.recipe_item_img {
  height: 50px;
  width: 50px;
}

a{
  text-decoration: none !important;
  cursor: pointer;
}

a:hover,
a:focus{
  color: var(--main-electric-blue) !important;
}

.container{
  max-width: 80% !important;
}

.btn-basic{
  display: inline-block;
  border-radius: 64px;
  background-color: transparent;
  border: solid 2px var(--main-white-color);
  color: var(--main-white-color);
  font-size: 25px;
  padding: 16px 16px;
  margin-top: 32px;
  text-align: center;
  vertical-align: baseline;
  transition: .3s;
  min-width: 200px;
}

.btn-basic:disabled{
  background-color: var(--main-light-grey) !important;
  border-color:  var(--main-light-grey) !important;
  box-shadow: none !important;
  color: #FFF !important;
}

.btn-basic:hover,
.btn-basic:focus,
.btn-plain{
  background-color: var(--main-white-color);
  color: var(--main-dark-grey);
}

.btn-basic:hover{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.btn-basic.btn-blue{
  background-color: transparent;
  border-color: var(--main-electric-blue);
  color: var(--main-electric-blue);
}

.btn-basic.btn-red{
  background-color: transparent;
  border-color: var(--main-red-color);
  color: var(--main-red-color);
}

.btn-basic.btn-green{
  background-color: transparent;
  border-color: var(--main-light-green);
  color: var(--main-light-green);
}

.btn-plain.btn-red,
.btn-red:hover,
.btn-red:focus{
  background-color: var(--main-red-color);
  border-color: var(--main-red-color);
  color: #FFF;
}

.btn-plain.btn-blue,
.btn-blue:hover,
.btn-blue:focus{
  background-color: var(--main-electric-blue);
  border-color: var(--main-electric-blue);
  color: #fff;
}

.btn-plain.btn-green,
.btn-green:hover,
.btn-green:focus{
  background-color: var(--main-light-green);
  border-color: var(--main-light-green);
  color: #fff;
}

.btn-small{
  padding: 0 16px;
  font-size: 16px;
  min-width: 120px;
  height: 40px;
}

.btn-cancel {
  border-radius: 100%;
  margin: 0;
  padding: 0;
  height: 40px;
  width: 40px;
  min-width: auto;
  border-color: var(--main-light-grey);
  color: var(--main-light-grey);
}

.btn-cancel:hover,
.btn-cancel:focus {
  background-color: var(--main-light-grey);
  color: #FFF;
}

.black-text{
  color: black;
}

.red-text{
  color: var(--main-red-color);
}

.blue-text{
  color: var(--main-electric-blue) !important;
}

.bold{
  font-weight: bold;
}

/* Permet d'aligner les icon material avec le texte */
.material-icons{
  display: inline-block !important;
  vertical-align: middle;
}

p-slider .ui-slider{
  width: 100% !important;
  margin: 64px 0;
  background-color: var(--main-light-grey);
  box-shadow: none !important;
}

p-slider .ui-slider-range{
  background-color: var(--main-electric-blue);
}

p-slider .ui-slider span{
  box-shadow: none !important;
}

p-slider .ui-slider .ui-slider-handle,
p-slider .ui-slider-horizontal .ui-slider-handle{
  width: 21px !important;
  height: 21px !important;
  top: -7px !important;
  background: var(--main-electric-blue) !important;
  border-radius: 100%;
}

p-slider .ui-slider-handle:hover{
  cursor: pointer;
}



/* Datepicker */
ngb-datepicker{
  border: none !important;
}

ngb-datepicker-month-view{
  padding: 16px;
}

ngb-datepicker .ngb-dp-header{
  height: 60px;
  border: none !important;
}

ngb-datepicker .ngb-dp-month-name{
  color: #FFF;
  font-weight: 700;
  margin: 12px 0;
}

ngb-datepicker .ngb-dp-weekday{
  color: #000 !important;
  font-style: normal !important;
  font-weight: 600;
  margin: 8px;
}

ngb-datepicker .ngb-dp-day{
  margin: 8px;
  text-align: center;
}

ngb-datepicker .bg-faded{
  background-color: var(--main-dark-blue);
}

ngb-datepicker .btn-link,
ngb-datepicker .btn-link:focus{
  color: #FFF;
  margin: 12px 16px;
}

ngb-datepicker .btn-link:hover{
  color: var(--main-light-grey);
}




/* Delete Meeting Modal */
.modal {
  height: 270px;
  max-width: 800px;
}

.delete-modal-content {
  padding: 32px 64px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.delete-modal-footer button {
  margin: 0 8px !important;
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: var(--main-electric-blue);
}

.select-wrapper input.select-dropdown {
  color: var(--main-electric-blue);
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  border: none;
  margin: 0;
}
