/*!* You can add global styles to this file, and also import other style files *!*/
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

/* A revoir car provoque une erreur (empeche la première règle d'être prise en compte) */
/*node_modules/angular-calendar/dist/css/angular-calendar.css*/

html, body{
  height: 100%;
  /*background-color: var(--main-white-color);*/
  color: var(--main-font-grey);
  font-family: Roboto, sans-serif;
}

/* make sure containers are below the navbar */
body .container {
  padding: 96px 0 0;
}

:root {
  /*--main-header-color: #002D50;*/
  --main-header-color: rgba(0, 72, 129, 0.6);
  --main-bg-color: #C3D9E8;
  --main-white-color: #ffffff;
  --main-white-color--hover: #5e5e5e;
  --main-dark-grey: #3E3E3E;
  --main-font-grey: #7D7D7D;
  --main-light-grey: #C7C7C7;
  --main-electric-blue: #46b0ff;
  --main-blue-filter: rgba(35, 88, 128, 0.6);
}

.recipes_grid {
  height: 100%;
  width: 100%;
  background: #e7e7e7;
}

/*md-card {*/
  /*margin: 1em;*/
/*}*/

.recipe_item_img {
  height: 50px;
  width: 50px;
}

a{
  text-decoration: none !important;
}

.container{
  max-width: 80% !important;
}

.btn-basic{
  display: inline-block;
  border-radius: 64px;
  border: solid 2px var(--main-white-color);
  color: var(--main-white-color);
  font-size: 25px;
  line-height: 1;
  padding: 16px 16px;
  margin-top: 32px;
  text-align: center;
  vertical-align: baseline;
  transition: .3s;
}

.btn-basic:hover,
.btn-basic:focus,
.btn-plain{
  background-color: var(--main-white-color);
  color: var(--main-dark-grey) !important;
}

/* Permet d'aligner les icon material avec le texte */
.material-icons{
  display: inline-block !important;
  vertical-align: middle;
}
