<br>
<h2>Envoyer une invitation RH</h2>
<br>
<div class="row">
  <form class="col s12" [formGroup]="signUpForm" (ngSubmit)="onSignUpSubmitted()">
    <div class="row">
      <div class="col-lg-6">
        <label for="name">Prénom</label>
        <input id="name" type="text" formControlName="name" placeholder="Prénom">
      </div>

      <div class="col-lg-6">
        <label for="lastname">Nom</label>
        <input id="lastname" type="text" formControlName="lastname" placeholder="Nom">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" placeholder="exemple@mail.com">
      </div>
    </div>

    <!--<div>-->
      <!--<label for="signup_type_selector">Type</label>-->
      <!--<select [(ngModel)]="signUpSelectedType"-->
              <!--[ngModelOptions]="{standalone: true}"-->
              <!--name="signup_type_selector"-->
              <!--id="signup_type_selector"-->
              <!--class="browser-default">-->
        <!--<option value="{{signUpSelectedType}}" disabled selected>Sélectionnez un Type</option>-->
        <!--<option *ngFor="let type of signUpTypes" [ngValue]="type">-->
          <!--{{ getSignUpTypeName(type) }}-->
        <!--</option>-->
      <!--</select>-->
    <!--</div>-->

    <div *ngIf="signUpSelectedType == 1">
      <h4>Choisir un plan pour ce coaché</h4>
      <div *ngFor="let plan of plans | async" (click)="onSelectPlan(plan)"
           [class.contract_selected]="plan == mSelectedPlan">
        Plan id : {{plan.plan_id}}
        Plan Name : {{plan.plan_name}}
        Plan Sessions count : {{plan.sessions_count}}
      </div>
    </div>

    <div class="text-center">
      <div *ngIf="!sendLoading">
        <button class="btn-basic btn-blue btn-plain btn-small right" type="submit" name="action"
                [disabled]="!signUpForm.valid  || signUpSelectedType==null || (signUpSelectedType == 1 && !mSelectedPlan)">
          Valider
        </button>
      </div>

      <div *ngIf="sendLoading">
        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-blue">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- sign up error div-->
    <div *ngIf="error && errorMessage != ''">
      <!-- add extra separator-->
      <hr>
      <small class="text-danger">
        {{errorMessage}}
      </small>
    </div>

  </form>
</div>

<div class="row">
  <div class="card-panel col s12">
    <h4 class="black-text">Conseils</h4>
    <p>Un email sera envoyé à l'adresse mail entrée, assurez-vous de posséder cet email</p>
    <br>

    <h5 class="black-text">Email possibles</h5>
    <div class="row">
      <div class="col-lg-4">
        <p>coach.1.eritis@gmail.com</p>
        <p>pwd : passwordEritis</p>
      </div>

      <div class="col-lg-4">
        <p>coachee.1.eritis@gmail.com</p>
        <p>pwd : passwordEritis</p>
      </div>

      <div class="col-lg-4">
        <p>rh.1.eritis@gmail.com</p>
        <p>pwd : passwordEritis</p>
      </div>
    </div>

  </div><!--end card-panel-->
</div><!--end row-->
