<div class="row" [ngsReveal]="{origin: 'left', distance: '100px', scale: 1, delay: 200, duration: 1000}">
  <h3 class="col-lg-12 black-text">Nos RH</h3>

  <div class="col-lg-12 card collection">

    <div *ifLoader="loading">
      <div class="collection-item" *ngFor="let rh of rhs | async">
        <er-admin-rh-item [rh]="rh"></er-admin-rh-item>
      </div>

      <div class="text-center" [hidden]="(rhs | async).length > 0">
        <p class="no-meeting">Les RH apparaîtront ici</p>
      </div>
    </div>

  </div>
</div> <!--end row-->

