<div class="header-user">
  <div class="header-user-filter">
    <div class="container row">

      <div class="user col-lg-5">
        <button class="btn-back" (click)="goToMeetings()">
          <i class="material-icons">keyboard_arrow_left</i>
        </button>

        <!--<img src="{{(coach | async)?.avatar_url}}" alt="profile image" class="user-img circle responsive-img z-depth-2">-->
        <div class="user-img avatar z-depth-2"
             *ngIf="(coach | async)?.avatar_url !== null && (coach | async)?.avatar_url !== undefined"
             [style.background-image]="'url(' + (coach | async)?.avatar_url + ')'"></div>

        <div class="user-info">
          <h5>{{(coach | async)?.first_name}} {{(coach | async)?.last_name}}</h5>
          <p *ngIf="isOwner" class="light-grey-text">{{(coach | async)?.email}}</p>
        </div>
      </div>

      <div class="col-sm-12 hide-on-large-only gap"></div>

      <div class="header-stats col-lg-7">
        <div class="row">
          <div class="header-item col-sm-12">
            <div class="header-item-number"><span>{{(coach | async)?.score}}</span><span class="indice"> / 5</span></div>
            <p class="header-item-title">Moyenne</p>
          </div>

          <!--<div class="header-item col-sm-3">-->
            <!--<div class="header-item-number"><span>10</span><span class="indice">mois</span></div>-->
            <!--<p class="header-item-title">Expérience</p>-->
          <!--</div>-->

          <!--<div class="header-item col-sm-4">-->
            <!--<div class="header-item-number"><span>6</span></div>-->
            <!--<p class="header-item-title">Séances réalisées</p>-->
          <!--</div>-->

          <!--<div class="header-item col-sm-4">-->
            <!--<div class="header-item-number"><span>3</span></div>-->
            <!--<p class="header-item-title">Personnes coachées</p>-->
          <!--</div>-->
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container" *ifLoader="loading">
  <h4 class="text-right italic">"{{ (coach | async)?.description }}"</h4>
  <br>

  <div>
    <!--<div class="center">-->
      <!--<button class="btn-basic btn-plain btn-blue btn-small center" (click)="goToMeetings()">Retourner au tableau de bord</button>-->
    <!--</div>-->
    <!--<br>-->

    <!--<form>-->
    <!--<div class="row">-->
    <!--<div class="col s12">-->
    <!--<label for="message">Envoyer un message à {{(coach | async)?.display_name}}</label>-->
    <!--<textarea name="message" id="message" class="message-field"></textarea>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="input-field">-->
    <!--<button class="btn-basic btn-plain btn-blue right">Envoyer</button>-->
    <!--</div>-->
    <!--</form>-->
  </div>

  <div *ngIf="isOwner">
    <h4 class="black-text">Mettre à jour votre profil</h4>
    <br>

    <form [formGroup]="formCoach" (ngSubmit)="submitCoachProfilUpdate()">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <label for="edit_name">Prénom</label>
              <input id="edit_name" type="text" class="validate"
                     formControlName="firstName"
                     placeholder="Prénom">
            </div>

            <div class="col-lg-12">
              <label for="edit_surname">Nom</label>
              <input id="edit_surname" type="text" class="validate"
                     formControlName="lastName"
                     placeholder="Nom">
            </div>
          </div>
        </div>

        <div class="col-lg-1"></div>

        <div class="col-lg-5">
          <label>Photo de profil</label>
          <div class="row avatar-container">
            <!--<img [src]="formCoach.value.avatar" alt="profile image"-->
                 <!--id="avatar-preview"-->
                 <!--class="circle responsive-img z-depth-2">-->
            <div id="avatar-preview"
                 class="avatar z-depth-2"
                 [style.background-image]="'url(' + (coach | async)?.avatar_url + ')'"></div>
            <!--<input id="edit_avatar_url" type="text" class="validate"-->
            <!--formControlName="avatar"-->
            <!--placeholder="http://...">-->
            <div class="input-file-container">
              <button class="btn-basic btn-blue btn-plain btn-small file-upload-buton">Choisir un fichier</button>
              <input type="file"
                     id="upload-avatar-input"
                     accept=".jpg,.png"
                     (change)="filePreview($event)">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <label for="edit_description">Description</label>
          <textarea id="edit_description" class="description-field validate"
                    formControlName="description"
                    placeholder="Description...">
          </textarea>
        </div>
      </div>

      <div class="text-center">
        <br>

        <button *ngIf="!updateUserLoading"
                type="submit"
                class="btn-basic btn-plain btn-blue btn-small"
                [disabled]="!formCoach.valid">
          Enregistrer
        </button>

        <div class="preloader-wrapper active" *ngIf="updateUserLoading">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div>
            <div class="gap-patch">
              <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>

      </div>

    </form>
  </div>

</div>
