

<div id="card-alert_seance_book" class="card red" *ngIf="displayErrorPostingReview">
  <div class="card-content white-text">
    <p>Impossible d'enregistrer votre commentaire</p>
  </div>
</div>

<div class="card">

  <div class="card-content">

    <span class="card-title">Ajouter des explications</span>

    <form class="col s12" [formGroup]="form" (ngSubmit)="submitMeetingContextForm()">
      <div class="row">
        <div class="input-field col s12">
          <input id="context" type="text" formControlName="context">
          <label for="context">Donnez nous un peu de context pour ce meeting</label>

        </div>
      </div>

      <!-- submit btn -->
      <div class="row">
        <div class="input-field col s12">
          <!--<button class="btn cyan waves-effect waves-light right" type="submit" name="action" [disabled]="!form.valid">-->
          <!--Envoyer-->
          <!--<i class="mdi-content-send right"></i>-->
          <!--</button>-->

          <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
            Envoyer
            <i class="mdi-content-send right"></i>
          </button>
        </div>
      </div>

    </form>

  </div>
</div>
