<div id="main_container">
  <div class="section">
    <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="center">
      <div class="text-left">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" formControlName="email"/>
        <small
          *ngIf="!signInForm.controls['email'].pristine &&!signInForm.controls['email'].valid"
          class="text-danger">
          Email is required and format should be <i>john@doe.com</i>.
        </small>
      </div>

      <div class="text-left">
        <label for="password">Mot de passe</label>
        <input type="password" id="password" name="password" formControlName="password">
        <small class="text-danger"
               *ngIf="!signInForm.controls['password'].pristine && !signInForm.controls['password'].valid">
          Password must be at least 6 characters.
        </small>
      </div>

      <div class="text-center">
        <button type="submit" name="action" [disabled]="!signInForm.valid">Go</button>
      </div>

      <!-- sign up error div-->
      <div *ngIf="error && errorMessage != ''">
        <!-- add extra separator-->
        <hr>
        <small class="text-danger">
          {{errorMessage}}
        </small>
      </div>

    </form>
  </div><!--end section-->

  <!--<button class="btn btn-success" (click)="goToSignUp()">First time ?</button>-->

</div>
