@import "../../../saas/variables";

/*#main_container {
  padding:32px;
}

#form_container {
  padding: 32px;
  max-width: 50%;
}*/

.header-signin {
  label {
    color: $main-white-color;
    font-size: 13px;
    font-weight: 300;
    opacity: .6;
  }

  input[type="password"],
  input[type="password"]:focus:not([readonly]),
  input[type="email"],
  input[type="email"]:focus:not([readonly]),
  textarea,
  textarea:focus:not([readonly]) {
    background-color: rgba(255, 255, 255, .6) !important;
  }

  button[type="submit"] {
    background-color: $main-electric-blue;
    border: none;
    border-radius: 100%;
    width: 64px;
    height: 64px;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
  }

  button[type="submit"]:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  button[type="submit"]:disabled {
    opacity: .5;
  }
}

#signin_container {
  width: 30%;
  margin: auto;
  //display: none;
}

@media(max-width: 960px) {
  #signin_container {
    width: 80%;
  }
}

.spinner-white {
  border-color: #FFF;
}

/* modal */
.modal label,
.modal input{
  color: $main-dark-grey;
}

#forgot_password_modal {
  height: 230px;
}
